{# src/Comppi/ProteinSearchBundle/Resources/views/index.html.twig #}
{% extends '::base.html.twig' %}
{% import '::pagination.html.twig' as pagination %}

{% block title %}ComPPI - Search Protein Interactions - The Compartmentalized Protein-Protein Interaction Database{% endblock %}

{% block bundlecontent %}
	<p class="help"></p>
	
	{% if verbose_log %}<p><pre>{{ verbose_log }}</pre></p>{% endif %}
	
	<form id="ProteinSearchForm" action="protein_search" method="post">
		<label for="fProtSearchKeyword">Protein Name:</label>
		<input type="text" name="fProtSearchKeyword" id="fProtSearchKeyword" value="{{ keyword }}" />
		<br />
		
		<label>Species:</label>
		{% for s in species_list %}
		<input type="radio" name="fProtSearchSpecies[{{ s.abbreviation }}]" id="fProtSearch{{ s.abbreviation }}" class="btn"
			{% if requested_species[s.abbreviation] is defined %}
			value="1" checked="checked"
			{% else %}
			value="0"
			{% endif %}/>
		<label for="fProtSearch{{ s.abbreviation }}" class="radioButtonLabel">{{ s.shortname }}</label>
		{% endfor %}

		<br />
		<input class="btn btn_submit" type="submit" name="fProtSearchSubmit" value="Submit Search" />
	</form>
	
	{% if result_msg %}
		<p id="protSearchResultMsg">{{ result_msg }}</p>
	{% endif %}
	
	{% if ls %}
	{{ pagination.pages(pagination_max_page, pagination_curr_page, pagination_base_url) }}
		
	<table id="ProteinSearchResultsTbl" class="hovered_list">
		<tr class="not_hovered_line"><th>Src A</th><th>Localization A</th><th>Protein A</th><th class="protSearchMidLine">Protein B</th><th>Localization B</th><th>Src B</th></tr>
		{% for p in ls %}
		<tr><td>{% if p.locASrcUrl %}<a href="{{ p.locASrcUrl }}" target="_blank" class="btn btn_src">src</a>{% endif %}</td><td>{{ p.locA }}</td><td>{{ p.protA }}</td><td class="protSearchMidLine">{{ p.protB }}</td><td>{{ p.locB }}</td><td>{% if p.locBSrcUrl %}<a href="{{ p.locBSrcUrl }}" target="_blank" class="btn btn_src">src</a>{% endif %}</td></tr>
		{% endfor %}
	</table>
	
	<p>N/A: Data not available.</p>
	
	{{ pagination.pages(pagination_max_page, pagination_curr_page, pagination_base_url) }}
	{% endif %}

{% endblock %}