{# src/Comppi/ProteinSearchBundle/Resources/views/index.html.twig #}
{% extends '::base.html.twig' %}
{% import '::pagination.html.twig' as pagination %}

{% block title %}ComPPI - Search Protein Interactions - The Compartmentalized Protein-Protein Interaction Database{% endblock %}

{% block bundlecontent %}
	<p class="help"></p>
	
	{% if verbose_log %}<p><pre>{{ verbose_log }}</pre></p>{% endif %}
	
	<form id="ProteinSearchForm" action="protein_search" method="post">
		<label for="fProtSearchKeyword" id="fProtSearchKeywordLabel">Protein Name:</label>
		<input type="text" name="fProtSearchKeyword" id="fProtSearchKeyword" value="{{ keyword }}" />
		
		{% for s in species_list %}
		<input type="radio" name="fProtSearchSpecies[{{ s.abbreviation }}]" id="fProtSearch{{ s.abbreviation }}" class="btn"
			{% if requested_species[s.abbreviation] is defined %}
			value="1" checked="checked"
			{% else %}
			value="0"
			{% endif %}/>
		<label for="fProtSearch{{ s.abbreviation }}" class="radioButtonLabel">{{ s.shortname }}</label>
		{% endfor %}

		<br />
		<input class="btn btn_submit" type="submit" name="fProtSearchSubmit" id="fProtSearchSubmit" value="Submit Search" />
	</form>
	
	{% if result_msg %}
		<p id="protSearchResultMsg">{{ result_msg }}</p>
	{% endif %}
	
	{% if ls %}
	{{ pagination.pages(pagination_max_page, pagination_curr_page, pagination_base_url) }}

	<table id="ProteinSearchResultsTbl">
		<tr id="ProtSearchHeader">
			<th id="ProteinSearchThLocA">Localization A</th>
			<th id="ProteinSearchThProtA">Protein A</th>
			<th id="ProteinSearchThCS" class="protSearchMidLine">CS</th>
			<th id="ProteinSearchThProtB" class="protSearchMidLine">Protein B</th>
			<th id="ProteinSearchThLocB">Localization B</th><th>Details</th>
		</tr>
		{% for p in ls %}
		<tr>
			<td>{% if p.locA['-'] is defined %}
				N/A
				{% else %}
				{% for abbrA,llocA in p.locA %}
				<span class="btn btn_src" title="{{ llocA }}">{{ abbrA }}</span>
				{% endfor %}
				{% endif %}</td>
			<td>{{ p.protA }}</td>
			<td class="protSearchMidLine">  </td>
			<td class="protSearchMidLine">{{ p.protB }}</td>
			<td>{% if p.locB['-'] is defined %}
				N/A
				{% else %}
				{% for abbrB,llocB in p.locB %}
				<span class="btn btn_src" title="{{ llocB }}">{{ abbrB }}</span>
				{% endfor %}
				{% endif %}</td>
			<td>{% if (p.protA_small_locs is defined or p.protB_small_locs is defined) %}<a href="{{ path('ComppiProteinSearchBundle_interaction') }}/{{ p.iid }}" class="protSearchDetailsLink" id="{{ p.iid }}">Details</a>{% else %}N/A{% endif %}</td>
		</tr>
		<tr class="protSearchDetailsBox">
			<td colspan="6">
			<h3>Details of '{{ p.protA }}':</h3>
				<p><span class="protSearchDetailName">Full name:</span> </p>
				<p><span class="protSearchDetailName">Synonyms:</span> {% if p.protA_synonyms is defined %}{{ p.protA_synonyms }} {% else %} N/A {% endif %}</p>
				{% if p.protA_small_locs is defined %}
				<p><span class="protSearchDetailName">Localizations:</span>
				<table>
					{% for i,sLocA in p.protA_small_locs %}
					<tr>
					<td>{{ p.protA_small_locs[i] }}</td>
					<td>{{ p.protA_loc_exp_types[i] }}</td>
					<td>{% if p.protA_source_dbs[i] %} {{ p.protA_source_dbs[i] }} {% endif %}</td>
					<td>{% if p.protA_pubmed_links[i] %} <a href="{{ p.protA_pubmed_links[i] }}" target="_blank">PubMed</a> {% endif %}</td>
					</tr>
					{% endfor %}
				</table></p>
				{% endif %}
			<h3>Details of '{{ p.protB }}':</h3>
				<p><span class="protSearchDetailName">Full name:</span> </p>
				<p><span class="protSearchDetailName">Synonyms:</span> {% if p.protB_synonyms is defined %}{{ p.protB_synonyms }} {% else %} N/A {% endif %}</p>
				{% if p.protB_small_locs is defined %}
				<p><span class="protSearchDetailName">Localizations:</span>
				<table>
					{% for i,sLocB in p.protB_small_locs %}
					<tr>
					<td>{{ p.protB_small_locs[i] }}</td>
					<td>{{ p.protB_loc_exp_types[i] }}</td>
					<td>{% if p.protB_source_dbs[i] %} {{ p.protB_source_dbs[i] }} {% endif %}</td>
					<td>{% if p.protB_pubmed_links[i] %} <a href="{{ p.protB_pubmed_links[i] }}" target="_blank">PubMed</a> {% endif %}</td>
					</tr>
					{% endfor %}
				</table></p>
			{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
	{#<!-- <td>{% if p.locASrcUrl %}<a href="{{ p.locASrcUrl }}" target="_blank" class="btn btn_src">src</a>{% endif %}</td>
	<td>{% if p.locBSrcUrl %}<a href="{{ p.locBSrcUrl }}" target="_blank" class="btn btn_src">src</a>{% endif %}</td>
	-->#}
	<p>N/A: Data not available.</p>
	
	{{ pagination.pages(pagination_max_page, pagination_curr_page, pagination_base_url) }}
	{% endif %}

{% endblock %}
