{# src/Comppi/ProteinSearchBundle/Resources/views/index.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Search Protein Interactions - The Compartmentalized Protein-Protein Interaction Database{% endblock %}

{% block bundlecontent %}
	<p class="help"></p>
	
	<form id="ProteinSearchForm" action="" method="post">
		<input type="hidden" name="fProtSearchSpecHs" id="fProtSearchSpecHs" value="{{ need_hs }}" />
		<input type="hidden" name="fProtSearchSpecDm" id="fProtSearchSpecDm" value="{{ need_dm }}" />
		<input type="hidden" name="fProtSearchSpecCe" id="fProtSearchSpecCe" value="{{ need_ce }}" />
		<input type="hidden" name="fProtSearchSpecSc" id="fProtSearchSpecSc" value="{{ need_sc }}" />
		{#<input type="hidden" name="fProtSearchLocCytoplasm" id="fProtSearchLocCytoplasm" value="0" />
		<input type="hidden" name="fProtSearchLocMito" id="fProtSearchLocMito" value="0" />
		<input type="hidden" name="fProtSearchLocNucleus" id="fProtSearchLocNucleus" value="0" />
		<input type="hidden" name="fProtSearchLocEC" id="fProtSearchLocEC" value="0" />
		<input type="hidden" name="fProtSearchLocSecr" id="fProtSearchLocSecr" value="0" />
		<input type="hidden" name="fProtSearchLocPlasMembr" id="fProtSearchLocPlasMembr" value="0" />#}

		<label for="fProtSearchKeyword">Protein Name:</label>
		<input type="text" name="fProtSearchKeyword" id="fProtSearchKeyword" value="{{ keyword }}" />
		<input class="btn toggleButton" id="AdvSearchBtn" type="button" value="Open Advanced Search" />
		<input class="btn btn_submit" type="submit" value="Submit Search" />
		<div id="AdvSearchFrame">
			<br />
			<label>Species:</label>
			<input type="button" name="fProtSearchSpecHsBtn" id="fProtSearchSpecHsBtn" class="btn toggleButton{% if need_hs==1 %} btn_green{% endif %}" value="H. sapiens" />
			<input type="button" name="fProtSearchSpecDmBtn" id="fProtSearchSpecDmBtn" class="btn toggleButton{% if need_dm==1 %} btn_green{% endif %}" value="D. melanogaster" />
			<input type="button" name="fProtSearchSpecCeBtn" id="fProtSearchSpecCeBtn" class="btn toggleButton{% if need_ce==1 %} btn_green{% endif %}" value="C. elegans" />
			<input type="button" name="fProtSearchSpecScBtn" id="fProtSearchSpecScBtn" class="btn toggleButton{% if need_sc==1 %} btn_green{% endif %}" value="S. cerevisiae" />

			<br />
			<label>Multiple protein names (each in a new row):</label>
			<textarea name="fProtSearchMultiNames" id="fProtSearchMultiNames" cols="50" rows="10">{{ protein_names }}</textarea>
			<br />
		</div>
	</form>
	
	{% if ls %}
	<table id="ProteinSearchResultsTbl" class="hovered_list">
		<tr class="not_hovered_line"><th>Protein A</th><th>Localization A</th><th>Protein B</th><th>Localization B</th></tr>
		{% for p in ls %}
		<tr><td>{{ p.protA }}</td><td>{{ p.locA }} <a href="{{ p.locASrcUrl }}" target="_blank" class="btn btn_src">src</a></td><td>{{ p.protB }}</td><td>{{ p.locB }} <a href="{{ p.locBSrcUrl }}" target="_blank" class="btn btn_src">src</a></td></tr>
		{% endfor %}
	</table>
	{% endif %}

{% endblock %}