{# src/Comppi/ProteinSearchBundle/Resources/views/searchform.html.twig #}
<p class="help">1. Start typing to get a list of suggested proteins.<br />2.Click on species to select one.<br/>3. Click 'Submit Search' to send your request.</p>

<div class="center">
<form id="ProteinSearchForm" action="protein_search" method="post">
	<label for="fProtSearchKeyword" id="fProtSearchKeywordLabel">Protein Name:</label>
	<input type="text" name="fProtSearchKeyword" id="fProtSearchKeyword" value="{{ keyword }}" />
	<input class="btn btn_submit" type="submit" name="fProtSearchSubmit" id="fProtSearchSubmit" value="Submit Search" />

	<div id="fProtSearchSpecContainer"
		{% for s in species_list %}
		<br />
		<input type="radio" name="fProtSearchSpecies" id="fProtSearch{{ s.abbreviation }}" value="{{ s.abbreviation }}"{% if requested_species[s.abbreviation] is defined %} checked="checked"{% endif %}/>
		<label for="fProtSearch{{ s.abbreviation }}" class="radioButtonLabel taxonomic_name">{{ s.shortname }}</label>
		{% endfor %}
	</div>
</form>
</div>

{% if result_msg %}
	<p id="protSearchResultMsg">{{ result_msg }}</p>
{% endif %}
