{% extends 'StatBundle:NamingStat:container.html.twig' %}

{% block title %}Naming Conventions{% endblock %}

{% block body %}

{% for specieAbbr, specieStat in namingStats %}

<div class="headline">
<h2>{{ specieStat.specieName }}</h2><h3> - {% trans %}Naming Conventions{% endtrans %}</h3>
</div>

<table>
    <thead>
        <tr>
            <td>{% trans %}Naming Convention{% endtrans %}</td>
            <td class="tcell-numeric">{% trans %}Protein Count{% endtrans %}</td>
            {% if specieAbbr != 'total' %}
                <td class="tcell-numeric">{% trans %}View Proteins{% endtrans %}</td>
            {% endif %}
        </tr> 
    </thead>
    <tbody>
{% for conventionStat in specieStat.stat %}
    <tr>
        <td>{{ conventionStat.namingConvention }}</td>
        <td class="tcell-numeric">{{ conventionStat.proteinCount }}</td>
        {% if specieAbbr != 'total' %}
            <td class="tcell-numeric">
                <a href="{{  path('stat_naming_proteins', {'specie': specieAbbr, 'convention': conventionStat.namingConvention }) }}">
                    {% trans %}proteins{% endtrans %}
                </a>
            </td>
        {% endif %}
    </tr>    
{% else %}
<div class="message message-notice">
{% trans %}
No naming convention found
{% endtrans %}
</div>
{% endfor %}
    </tbody>
    {% if specieStat.totalProteinCount %}
    <tfoot>
        <tr>
            <td>{% trans %}TOTAL{% endtrans %}</td>
            <td class="tcell-numeric">{{ specieStat.totalProteinCount }}</td>
            {% if specieAbbr != 'total' %}
            <td></td>
            {% endif %}
        </tr>
    </tfoot>
    {% endif %}
</table>

{% endfor %}

{% endblock %}