{% extends 'StatBundle:NamingStat:container.html.twig' %}

{% block title %}Naming Conventions{% endblock %}

{% block body %}

{% for specieAbbr, specieStat in namingStats %}

<h1>{{ specieStat.specieName }}<small> - {% trans %}Naming Conventions{% endtrans %}</small></h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>{% trans %}Naming Convention{% endtrans %}</th>
            <th class="tcell-numeric">{% trans %}Protein Count{% endtrans %}</th>
            {% if specieAbbr != 'total' %}
                <th class="tcell-middle">{% trans %}View Proteins{% endtrans %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
{% for conventionStat in specieStat.stat %}
    <tr>
        <td>{{ conventionStat.namingConvention }}</td>
        <td class="tcell-numeric">{{ conventionStat.proteinCount }}</td>
        {% if specieAbbr != 'total' %}
            <td class="tcell-middle">
                <a href="{{  path('stat_naming_proteins', {'specieAbbr': specieAbbr, 'convention': conventionStat.namingConvention }) }}">
                    {% trans %}proteins{% endtrans %}
                </a>
            </td>
        {% endif %}
    </tr>    
{% else %}
        <div class="alert alert-error">
        <h4>{% trans %}Not found{% endtrans %}</h4>
        {% trans %}
            No naming convention found
        {% endtrans %}
        </div>
{% endfor %}
    </tbody>
    {% if specieStat.totalProteinCount %}
    <tfoot class="text-success">
        <tr>
            <td>{% trans %}TOTAL{% endtrans %}</td>
            <td class="tcell-numeric">{{ specieStat.totalProteinCount }}</td>
            {% if specieAbbr != 'total' %}
            <td></td>
            {% endif %}
        </tr>
    </tfoot>
    {% endif %}
</table>

{% endfor %}

{% endblock %}