{# src/Comppi/DownloadDbBundle/Resources/views/download.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Search Protein Interactions - The Compartmentalized Protein-Protein Interaction Database{% endblock %}

{% block bundlecontent %}
	<p class="help">The compartmentalized protein-protein interaction database can be downloaded here. Set the parameters by selecting the species and the dataset and start the download.</p>

	{# @TODO: update this abomination to a proper Symfony form #}
	<form id="DownloadForm" action="{{ path('ComppiDownloadDbBundle_serve') }}" method="post">
		<input type="hidden" name="fDownloadSpecHs" id="fDownloadSpecHs" value="{{ need_hs }}" />
		<input type="hidden" name="fDownloadSpecDm" id="fDownloadSpecDm" value="{{ need_dm }}" />
		<input type="hidden" name="fDownloadSpecCe" id="fDownloadSpecCe" value="{{ need_ce }}" />
		<input type="hidden" name="fDownloadSpecSc" id="fDownloadSpecSc" value="{{ need_sc }}" />
		<input type="hidden" name="fDownloadDataset" id="fDownloadDataset" value="{{ dataset }}" />
		
		<input type="button" name="fDownloadSpecHsBtn" id="fDownloadSpecHsBtn" class="btn toggleButton{% if need_hs==1 %} btn_green{% endif %}" value="H. sapiens" />
		<input type="button" name="fDownloadSpecDmBtn" id="fDownloadSpecDmBtn" class="btn toggleButton{% if need_dm==1 %} btn_green{% endif %}" value="D. melanogaster" />
		<input type="button" name="fDownloadSpecCeBtn" id="fDownloadSpecCeBtn" class="btn toggleButton{% if need_ce==1 %} btn_green{% endif %}" value="C. elegans" />
		<input type="button" name="fDownloadSpecScBtn" id="fDownloadSpecScBtn" class="btn toggleButton{% if need_sc==1 %} btn_green{% endif %}" value="S. cerevisiae" />
		
		<br />
		<input type="button" name="fDownloadIntByLoc" id="fDownloadIntByLoc" class="btn" value="Interactions By Localizations" />
		<input type="button" name="fDownloadInts" id="fDownloadInts" class="btn" value="Interactions" />
		<input type="button" name="fDownloadLocs" id="fDownloadLocs" class="btn" value="Localizations" />

		<br /><br /><label>E-mail:</label><input type="text" name="fProtSearchKeyword" id="fProtSearchKeyword" value="" />
		<br />Filling in your e-mail is <b>optional</b> and secure. It would <b>help us enhance</b> our services by knowing better our userbase. [<a href="">Details</a>]
		
		<br /><br /><input type="submit" name="fDownloadSubmit" id="fDownloadSubmit" class="btn btn_submit" value="Start Download" />
	</form>
	

{% endblock %}