{# src/Comppi/DownloadDbBundle/Resources/views/download.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Search Protein Interactions - The Compartmentalized Protein-Protein Interaction Database{% endblock %}

{% block bundlecontent %}
	<p class="help">Compartmentalized protein-protein interaction data can be downloaded here by major cellular compartments or by their sub-compartments. You can customize the parameters or get pre-defined datasets. You can select an option by a click, and de-select it by clicking again.</p>

	{# @TODO: update this abomination to a proper Symfony form #}
	<form id="DownloadForm" action="{{ path('DownloadDbBundle_serve') }}" method="post">
		<input type="hidden" name="fDownloadSpecHs" id="fDownloadSpecHs" value="{{ need_hs }}" />
		<input type="hidden" name="fDownloadSpecDm" id="fDownloadSpecDm" value="{{ need_dm }}" />
		<input type="hidden" name="fDownloadSpecCe" id="fDownloadSpecCe" value="{{ need_ce }}" />
		<input type="hidden" name="fDownloadSpecSc" id="fDownloadSpecSc" value="{{ need_sc }}" />
		{#<input type="hidden" name="fDownloadDataset" id="fDownloadDataset" value="{{ dataset }}" />#}
		
		<label>Species:</label>
		<input type="button" name="fDownloadSpecHsBtn" id="fDownloadSpecHsBtn" class="btn toggleButton{% if need_hs==1 %} btn_green{% endif %}" value="H. sapiens" />
		<input type="button" name="fDownloadSpecDmBtn" id="fDownloadSpecDmBtn" class="btn toggleButton{% if need_dm==1 %} btn_green{% endif %}" value="D. melanogaster" />
		<input type="button" name="fDownloadSpecCeBtn" id="fDownloadSpecCeBtn" class="btn toggleButton{% if need_ce==1 %} btn_green{% endif %}" value="C. elegans" />
		<input type="button" name="fDownloadSpecScBtn" id="fDownloadSpecScBtn" class="btn toggleButton{% if need_sc==1 %} btn_green{% endif %}" value="S. cerevisiae" />
				
		<br />
{#}
		cytoplasm:			GO:0043226 = 3134
		mitochondrion: 		+GO:0005739 = 863
		nucleus:			GO:0005634 = 1005
		extracellular:		GO:0005576 = 2582
		secretory pathway:	secretory pathway = 1
		plasma membrane:	+GO:0016020 = 2796
#}
		<label>Low-Definition Localizations:</label>
		<input type="button" name="fDownloadLocCytoplasmBtn" rel="3134" id="fDownloadLocCytoplasmBtn" class="btn" value="Cytoplasm" />
		<input type="button" name="fDownloadLocMitoBtn" rel="863" id="fDownloadLocMitoBtn" class="btn" value="Mitochondrion" />
		<input type="button" name="fDownloadLocNucleusBtn" rel="1005" id="fDownloadLocNucleusBtn" class="btn" value="Nucleus" />

		<input type="button" name="fDownloadLocECBtn" rel="2582" id="fDownloadLocECBtn" class="btn" value="Extracellular" />
		<input type="button" name="fDownloadLocSecrBtn" rel="1" id="fDownloadLocSecrBtn" class="btn" value="Secretory Pathway" />
		<input type="button" name="fDownloadLocPlasMembrBtn" rel="2796" id="fDownloadLocPlasMembrBtn" class="btn" value="Plasma Membrane" />
		
		<br />
		{#<input class="btn toggleButton" id="AdvDownloadBtn" type="button" value="Open Advanced Search" />
		<div id="AdvDownloadFrame">#}
			<label>High-definition Localizations:</label>
			
			{% render "DownloadDbBundle:DownloadDb:renderLocTree" %}
		{#</div>#}
		
		<p align="center">
		<input type="submit" name="fDownloadSubmit" id="fDownloadSubmit" class="btn btn_submit" value="Start Custom Download" /></p>
		
		<br />
		<label>Data Presets:</label>
		<input type="submit" name="fDownloadIntByLoc" id="fDownloadIntByLoc" class="btn btn_submit" value="Get Interactions By Localizations" />
		<input type="submit" name="fDownloadInts" id="fDownloadInts" class="btn btn_submit" value="Get Interactions" />
		<input type="submit" name="fDownloadLocs" id="fDownloadLocs" class="btn btn_submit" value="Get Localizations" />

		{#<br /><br /><label>E-mail:</label><input type="text" name="fProtSearchKeyword" id="fProtSearchKeyword" value="" />
		<br />Filling in your e-mail is <b>optional</b> and secure. It would <b>help us enhance</b> our services by knowing better our userbase. [<a href="">Details</a>]#}
		
		<br />
	</form>
	

{% endblock %}