{% extends 'StatBundle::base.html.twig' %}

{% block title %}{{ main.name }} protein details{% endblock %}

{% block javascriptAssets %}
    {{ parent() }}

    {% javascripts
        '@StatBundle/Resources/public/js/twig.min.js'
        '@StatBundle/Resources/public/js/protein-browser.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    
    {% javascripts
        '@StatBundle/Resources/public/jstemplates/interactionDetails.html.twig'
    %}
    <meta id="jstemplate-interactionDetails" name="interactionDetails" content="{{ asset_url }}" />
    {% endjavascripts %}
    
    {% javascripts
        '@StatBundle/Resources/public/jstemplates/localizationDetails.html.twig'
    %}
    <meta id="jstemplate-localizationDetails" name="localizationDetails" content="{{ asset_url }}" />
    {% endjavascripts %} 
{% endblock %}

{% block body %}

<h1>{{ main.name }}</h1>

<span class="label label-info" title="{% trans %}Naming Convention{% endtrans %}"><i class="icon-globe icon-white"></i> {{ main.namingConvention }}</span>
<span class="label label-success" title="{% trans %}Species{% endtrans %}"><i class="icon-tag icon-white"></i> {{ main.specie.name }}</span>
<div class="pull-right">
    <a href="http://www.uniprot.org/uniprot/{{ main.name }}">View in UniProtKB</a>
    <i class="icon-chevron-right"></i>
</div>

{% if synonyms %}
    <h3>{% trans %}Synonyms{% endtrans %}</h3>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Naming Convention{% endtrans %}</th>
                <th>{% trans %}Protein Name{% endtrans %}</th>
            </tr> 
        </thead>
        <tbody>
    {% for synonym in synonyms %}
        <tr>
            <td>{{ synonym.namingConvention }}</td>
            <td>{{ synonym.name }}</td>
        </tr>    
    {% endfor %}
    </table>
{% endif %}

{% if localizations %}
    <h2>{% trans %}Localizations{% endtrans %}</h2>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Localization{% endtrans %}</th>
                <th>{% trans %}Source database{% endtrans %}</th>
                <th class="tcell-middle">{% trans %}Pubmed ID{% endtrans %}</th>
                <th class="tcell-middle">{% trans %}Details{% endtrans %}</th>
                {# <th class="tcell-middle">{% trans %}View in tree{% endtrans %}</th> #}
            </tr> 
        </thead>
        <tbody>
    {% for localization in localizations %}
        <tr>
            <td>{{ localization.localizationName }}</td>
            <td>{{ localization.sourceDb }}</td>
            <td class="tcell-middle">{{ localization.pubmedId }}</td>
            <td class="tcell-middle">
                <a class="trow-dynamic-expander-link" href="{{ path('stat_protein_locdetails', {'id': localization.id }) }}" data-jstemplate="localizationDetails">
                {% trans %}details{% endtrans %}
                </a>
            </td>
            {# <td class="tcell-middle">view {{ localization.localizationId }}</td> #}
        </tr>    
    {% endfor %}
    </table>
{% endif %}

{% if interactions %}
    <h2>{% trans %}Interactions{% endtrans %}</h2>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Naming Convention{% endtrans %}</thd>
                <th>{% trans %}Protein Name{% endtrans %}</th>
                <th>{% trans %}Source database{% endtrans %}</th>
                <th class="tcell-middle">{% trans %}Pubmed ID{% endtrans %}</th>
                <th class="tcell-middle">{% trans %}Details{% endtrans %}</th>
            </tr> 
        </thead>
        <tbody>
    {% for interaction in interactions %}
        <tr>
            <td>{{ interaction.actorNamingConvention }}</td>
            <td>
                <a href="{{ path('stat_protein_protein', {'specieAbbr': main.specie.abbreviation, 'id': interaction.actorId }) }}">
                {{ interaction.actorName }}
                </a>
            </td>
            <td>{{ interaction.sourceDb }}</td>
            <td class="tcell-middle">{{ interaction.pubmedId }}</td>
            <td class="tcell-middle">
                <a class="trow-dynamic-expander-link" href="{{ path('stat_protein_intdetails', {'id': interaction.id }) }}" data-jstemplate="interactionDetails">
                {% trans %}details{% endtrans %}
                </a>
            </td>
        </tr>    
    {% endfor %}
    </table>
{% endif %}

{% endblock %}