{% extends 'StatBundle::base.html.twig' %}

{% block title %}{{ main.name }} protein details{% endblock %}

{% block javascriptAssets %}
    {{ parent() }}

    {% javascripts
        '@StatBundle/Resources/public/js/jquery.js'
        '@StatBundle/Resources/public/js/twig.min.js'
        '@StatBundle/Resources/public/js/protein-browser.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    
    {% javascripts
        '@StatBundle/Resources/public/jstemplates/interactionDetails.html.twig'
    %}
    <meta id="jstemplate-interactionDetails" name="interactionDetails" content="{{ asset_url }}" />
    {% endjavascripts %}
    
    {% javascripts
        '@StatBundle/Resources/public/jstemplates/localizationDetails.html.twig'
    %}
    <meta id="jstemplate-localizationDetails" name="localizationDetails" content="{{ asset_url }}" />
    {% endjavascripts %} 
{% endblock %}

{% block body %}

<div class="headline">
<h2>{{ main.name }}</h2><h3 title="{% trans %}naming convention{% endtrans %}"> - {{ main.namingConvention }}</h3>
</div>

{% if synonyms %}
    <h3>{% trans %}Synonyms{% endtrans %}</h3>

    <table>
        <thead>
            <tr>
                <td>{% trans %}Naming Convention{% endtrans %}</td>
                <td>{% trans %}Protein Name{% endtrans %}</td>
            </tr> 
        </thead>
        <tbody>
    {% for synonym in synonyms %}
        <tr>
            <td>{{ synonym.namingConvention }}</td>
            <td>{{ synonym.name }}</td>
        </tr>    
    {% endfor %}
    </table>
{% endif %}

{% if localizations %}
    <h3>{% trans %}Localizations{% endtrans %}</h3>

    <table>
        <thead>
            <tr>
                <td>{% trans %}Localization{% endtrans %}</td>
                <td>{% trans %}Source database{% endtrans %}</td>
                <td class="tcell-numeric">{% trans %}Pubmed ID{% endtrans %}</td>
                <td>{% trans %}Details{% endtrans %}</td>
                {# <td class="tcell-numeric">{% trans %}View in tree{% endtrans %}</td> #}
            </tr> 
        </thead>
        <tbody>
    {% for localization in localizations %}
        <tr>
            <td>{{ localization.localizationName }}</td>
            <td>{{ localization.sourceDb }}</td>
            <td class="tcell-numeric">{{ localization.pubmedId }}</td>
            <td>
                <a class="trow-dynamic-expander-link" href="{{ path('stat_protein_locdetails', {'id': localization.id }) }}" data-jstemplate="localizationDetails">
                {% trans %}details{% endtrans %}
                </a>
            </td>
            {# <td class="tcell-numeric">view {{ localization.localizationId }}</td> #}
        </tr>    
    {% endfor %}
    </table>
{% endif %}

{% if interactions %}
    <h3>{% trans %}Interactions{% endtrans %}</h3>

    <table>
        <thead>
            <tr>
                <td>{% trans %}Naming Convention{% endtrans %}</td>
                <td>{% trans %}Protein Name{% endtrans %}</td>
                <td>{% trans %}Source database{% endtrans %}</td>
                <td class="tcell-numeric">{% trans %}Pubmed ID{% endtrans %}</td>
                <td class="tcell-numeric">{% trans %}Details{% endtrans %}</td>
            </tr> 
        </thead>
        <tbody>
    {% for interaction in interactions %}
        <tr>
            <td>{{ interaction.actorNamingConvention }}</td>
            <td>
                <a href="{{ path('stat_protein_protein', {'specieAbbr': main.specie.abbreviation, 'id': interaction.actorId }) }}">
                {{ interaction.actorName }}
                </a>
            </td>
            <td>{{ interaction.sourceDb }}</td>
            <td class="tcell-numeric">{{ interaction.pubmedId }}</td>
            <td class="tcell-numeric">
                <a class="trow-dynamic-expander-link" href="{{ path('stat_protein_intdetails', {'id': interaction.id }) }}" data-jstemplate="interactionDetails">
                {% trans %}details{% endtrans %}
                </a>
            </td>
        </tr>    
    {% endfor %}
    </table>
{% endif %}

{% endblock %}