<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}ComPPI - The Compartmentalized Protein-Protein Interaction Database{% endblock %}</title>
        {% block stylesheets %}
		<link href="{{ asset('css/css.comppi_screen.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<!-- <base href="http://linkgroup.hu/comppi/" /> -->
    </head>
    <body>
		{% block menu %}                    
		<ul id="MainMenu">
			<li><a href="{{ path('ComppiProteinSearchBundle_index') }}">Protein Search</a></li>
			<li><a href="#">Download DB</a></li>
			<li><a href="{{ path('ComppiDescriptionBundle_about') }}">About</a></li>
			<li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li>
		</ul>
		{% endblock %}
		
        {% block bundlecontent %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
