<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}ComPPI - Compartmentalized Protein-Protein Interaction Database{% endblock %}</title>
        {% block stylesheets %}
		<link href="http://fonts.googleapis.com/css?family=Cuprum:regular" rel="stylesheet" type="text/css" />
		<link href="{{ asset('assets/ui-theme-smoothness/jquery-ui-1.10.2.custom.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('assets/css.comppi_screen.css') }}" rel="stylesheet" type="text/css" />
		{% endblock %}
		{% block javascripts %}
		<script type="text/javascript" src="{{ asset('assets/jquery-1.9.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/jquery-ui-1.10.3.custom.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/jquery.comppi.js') }}"></script>
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<!-- <base href="http://linkgroup.hu/comppi/" /> -->
		{% include '::google_analytics.html.twig' %}
    </head>
    <body>
		{% block header %}
		<div id="Header">
		<img src="{{ asset('assets/logo.png') }}" id="Logo" width="89" height="42" alt="ComPPI logo" title="ComPPI welcome page" />
		<div id="HeaderSlogan"><b>Com</b>partmentalized <b>P</b>rotein-<b>P</b>rotein <b>I</b>nteraction Database</div>
		<div id="MainMenu">
			<a href="{{ path('ComppiDescriptionBundle_about') }}">Home</a> |
			<a href="{{ path('ComppiProteinSearchBundle_proteinsearch') }}">Protein Search</a> |
			<a href="{{ path('DownloadCenterBundle_downloads') }}">Downloads</a> |
			<a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a>
		</div>
		</div>
		{% endblock %}

		<div id="Content">
        {% block bundlecontent %}{% endblock %}
		</div>
		
		<div id="Footer">
			ComPPI Version: 2013.06.30. | <a href="http://linkgroup.hu">LINK-Group</a> | <a href="http://netbiol.elte.hu/en/">NetBiol</a>
		</div>
    </body>
</html>
