<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Stat{% endblock %} | Stat | ComPPI</title>
        {% block stylesheetAssets %}
            {% stylesheets
                '@StatBundle/Resources/public/css/layout.less'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascriptAssets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% include '::google_analytics.html.twig' %}
    </head>
    <body>
        {% set controller = app.request.attributes.get('_template').get('controller') %}
        <div id="head">
            <h1>ComPPI<span>Stat</span></h1>
            <ul id="site-nav" class="navigation">
                <li{% if controller == 'SourceStat'%} class="active"{% endif %}><a href="{{ path('stat_source_index') }}">Sources</a></li>
                <li{% if controller == 'LocalizationStat'%} class="active"{% endif %}><a href="{{ path('stat_localization_index') }}">Localizations</a></li>
                <li{% if controller == 'InteractionStat'%} class="active"{% endif %}><a href="{{ path('stat_interaction_index') }}">Interactions</a></li>
                <li{% if controller == 'NamingStat'%} class="active"{% endif %}><a href="{{ path('stat_naming_index') }}">Naming conventions</a></li>
                <li{% if controller == 'Search'%} class="active"{% endif %}><a href="{{ path('stat_search_index') }}">Search</a></li>
                {# <li><a href="#">Visualization</a></li> #}
            </ul>
            {% block subnav %}{% endblock %}
        </div>
        <div id="content">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
