{% extends 'StatBundle::base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block body %}

<h2>{% trans %}Search{% endtrans %}</h2>

<form action="{{ path('stat_search_search') }}" method="GET" {{ form_enctype(searchForm) }}>
    {{ form_errors(searchForm.searchTerm) }}
    
    <div class="input-append">
    {{ form_widget(searchForm.searchTerm, { 'attr': {'class': 'input-xxlarge protein-search-input'} }) }}
    <button class="btn" type="submit" value="submit">{% trans %}Search{% endtrans %}</button>
    </div>    
    
    {{ form_rest(searchForm) }}
</form>

<br />

{% if results %}

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Species{% endtrans%}</th>
                <th>{% trans %}Naming Convention{% endtrans %}</th>
                <th>{% trans %}Protein Name{% endtrans %}</th>
                <th class="tcell-middle">{% trans %}View details{% endtrans %}</th>
            </tr> 
        </thead>
        <tbody>
    {% for result in results %}
        <tr>
            <td>{{ result.specie.name }}</td>
            <td>{{ result.namingConvention }}</td>
            <td>
                {{ result.name }}
                {% if result.altName is defined and result.altConvention is defined%}
                    <span class="muted pull-right">
                    ({% trans with {'%convention%': result.altConvention, '%name%': result.altName} %}
                        It's %convention% name is %name%
                    {% endtrans %})
                    </span>
                {% endif %}
            </td>
            <td class="tcell-middle">
                <a href="{{ path('stat_protein_protein', {'specieAbbr': result.specie.abbreviation, 'id': result.proteinId }) }}">
                {% trans %}details{% endtrans %}
                </a>
            </td>
        </tr>    
    {% endfor %}
    </table>
    
{% else %}
    <div class="alert alert-block">
    <h4>{% trans %}Not found{% endtrans %}</h4>
    {% trans %}
        Search term did not match any proteins.
    {% endtrans %}
    </div>
{% endif %}

{% endblock %}