{# src/Comppi/DescriptionBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Main Page{% endblock %}

{% block bundlecontent %}
<div class="center">
<table id="MainPageContent"><tr>
<td id="MainPageLeftColumn">

<h1>What is ComPPI?</h1>
<p>Protein-protein interaction networks are spatially and temporally merged from the results of various experimental and predicting methods. These often ignore localization data, which in turn deteriorates the data quality and its predictive potential.</p>
<p>We present ComPPI, the compartmentalized protein-protein interaction database, that provides qualitative information on the interactions, proteins and their localizations integrated from <a href="{{ path('ComppiDescriptionBundle_help') }}/input_databases">multiple databases</a>. ComPPI introduces two <a href="{{ path('ComppiDescriptionBundle_help') }}/scores">qualitative scores</a>, the interaction score and the localization score, which describe the calculated probability of the data correctness.</p>


<p><table id="MainPageStatisticsTable">
	<thead>
		<th>Species</th>
		<th>Number<br/>of<br/>Proteins</th>
		<th>Number<br/>of<br/>Localizations</th>
		<th>Number<br/>of<br/>Interactions</th>
	</thead>
	<tbody>
	<tr>
		<td><i><!-- Saccharomyces -->S.&nbsp;cerevisiae</i> (Baker's&nbsp;yeast)</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr> 
	<tr>
		<td><i><!-- Caenorhabditis -->C.&nbsp;elegans</i></td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr> 
	<tr>
		<td><i><!-- Drosophila -->D.&nbsp;melanogaster</i> (Fruit fly)</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr> 
	<tr>
		<td><i><!-- Homo -->H.&nbsp;sapiens</i> (Human)</td>
		<td>0</td>
		<td>0</td>
		<td>0</td>
	</tr>     
	</tbody>
</table></p>
</td> <!-- end of left column -->


<td id="MainPageRightColumn">
		
<h1>Main Features</h1>
<ul>
<li><h3>Protein-Protein Interactions</h3>
An integrated dataset of 10 protein-protein interaction databases containing 950 780 interactions.<br /> <a href="">Details... ???</a>
</li>
<li><h3>Subcellular Localizations</h3>
An integrated dataset of 9 subcellular localization databases including 269 586 subcellular localizations.<br /> <a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs">Details...</a>
</li>
<li><h3>Species</h3>
A comparative assessment of four species: <i>S. cerevisiae</i>, <i>C. elegans</i>, <i>D. melanogaster</i>, <i>H. sapiens</i><br />
<a href="{{ path('ComppiDescriptionBundle_help') }}/species">Details...</a>
</li>
<li><h3>1600+ Gene Ontology Cellular Component Terms</h3>
A hierarchic structure of subcellular localizations using more than 1600 GO cellular component terms. <br /><a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs">Details...</a>
</li>
<li><h3>Interaction and Localization Score</h3>
A localization score for proteins and an interaction score protein-protein interactions comprising data-quality and interactome-consensus of subcellular localization. <br />
<a href="{{ path('ComppiDescriptionBundle_help') }}/scores">Details...</a>
</li>
<li><h3>Protein Search</h3>
Direct search options for individual proteins with autocomplete function. <br />
<a href="{{ path('ComppiProteinSearchBundle_proteinsearch') }}">Details...</a>
</li>
<li><h3>Download Custom Datasets</h3>
Download options of whole-proteome or organelle-specific interactomes and of integrated protein-protein interaction and subcellular localization datasets. <br /><a href="{{ path('DownloadCenterBundle_downloads') }}">Details...</a>
</li>
</ul>

</td> <!-- end of right column -->
</tr></table>
</div>
{% endblock %}
