{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help / ComPPI for Network Scientists{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>ComPPI for Network Scientists</li></ul></h1>
	
	<br /><p>ComPPI is a multicomponent, undirected, weighted protein-protein interaction network.
	<ul>
		<li><b>Nodes:</b> proteins</li>
		<li><b>Edges:</b> undirected edges representing any relationship between two proteins</li>
		<li><b>Edge weights:</b> <a href="{{ path('ComppiDescriptionBundle_help') }}/scores#intscore">interaction scores</a></li>
	</ul></p>
	
	<h2>Node attributes</h2>
	<p>
	<ul>
		<li><b>Name:</b> the protein name in the strongest available <a href="{{ path('ComppiDescriptionBundle_help') }}/naming_conventions">naming convention</a>, usually
		<a href="http://www.uniprot.org/help/uniprotkb">UniProt/Swiss-Prot</a></li>
		<li><b><a href="{{ path('ComppiDescriptionBundle_help') }}/naming_conventions">Naming convention:</a></b> the naming convention of the protein name</li>
		<li><b>Synonyms:</b> other names of the protein</li>
		<li><b>Taxonomy ID:</b> the Gene Ontology Taxonomy ID of the related
		<a href="{{ path('ComppiDescriptionBundle_help') }}/species">species</a>, such as '9606' for human</li>
		<li><b><a href="{{ path('ComppiDescriptionBundle_help') }}/scores#locscore">Localization Scores:</a></b> the probability that the protein belongs to a given major subcellular localization</li>
		<li><b><a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs#structure">Major Subcellular Localizations:</a></b> cytosol, nucleus, etc.</li>
		<li><b><a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs#structure">Minor Subcellular Localizations:</a></b> the Gene Ontology cellular component IDs</li>
		<li><b>Localization Source Databases:</b> the names of the source databases of the subcellular localization data</li>
		<li><b>Localization Source PubMed IDs:</b> the PubMed IDs of the publications describing the source databases or the specific publication which relates the protein to a given subcellular localization</li>
		<li><b><a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs#expsystype">Localization Experimental Systems:</a></b> the experimental system that associated the protein with a given localization (such as 'annotated protein expression')</li>
		<li><b><a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs#origin">Localization Experimental System Type:</a></b> unknown (0), experimental (1), predicted (2)</li>
	</ul></p>
	
	<h2>Edge attributes</h2>
	<p>
	<ul>
		<li><b><a href="{{ path('ComppiDescriptionBundle_help') }}/scores#locscore">Interaction Score:</a></b> the probability of the given interaction, can be thought of as edge weight</li>
		<li><b>Interaction Source Databases:</b> the names of the databases that describe the interaction</li>
		<li><b>Interaction Source PubMed IDs:</b> the PubMed IDs of the publications describing the source databases or the specific publication which describes the interaction</li>
		<li><b>Interaction Experimental Systems:</b> the experimental system that determined the interaction (such as 'yeast two-hybrid')</li>
		<!--<li><b>Experimental System Type:</b> unknown (0), experimental (1), predicted (2)</li>-->
	</ul></p>
	
	<h2>Notes</h2>
	<p align="justify">The <a href="{{ path('DownloadCenterBundle_downloads') }}">custom downloads</a> contain various combinations of these,
	please refer to the <a href="{{ path('ComppiDescriptionBundle_help') }}/downloads">relevant help section</a> for further details.</p>
	
	<p align="justify">The nodes are identified by ComPPI IDs in the downloadable full database <a href="{{ path('ComppiDescriptionBundle_help') }}/output_formats">(SQL)</a>.
	These IDs are not stable, they may change in every release.
	If you use ComPPI to build a network, you may want to consider using the protein names as node IDs,
	otherwise networks of different ComPPI versions may not be compatible with each other.</p>
	
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
{% endblock %}
