{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Input Databases{% endblock %}

{% block bundlecontent %}

	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Input Databases</li></ul></h1>
	
	<br/>
	<p align="justify">ComPPI is an integrated database merging 9 protein-protein interaction and 8 subcellular localization databases.
	Previous studies showed that the redundancy between the data in the protein-protein interaction as well as in the subcellular localization databases is low.
	With the help of the integration of multiple source databases we could reduce the amount of data loss and maximize the quantity and quality of the data.</p>
	
	<p align="justify">The resources are freely available for academical research, and allows proteom-wide download options.
	The input databases are connected to the ComPPI database via input database specific interfaces.</p>
	
	<p align="justify"> ComPPI contains only binary physical protein-protein interactions with experimental evidence.
	The subcellular localization data is from experimental, predicted, or unknown origin.
	Learn more about how we deal with different <a href="{{ path('ComppiDescriptionBundle_help') }}/naming_conventions">protein naming conventions</a>
	and <a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs">subcellular localizations</a>.</p>
	<br />
	
	<p align="center"><b>Choose input database type:</b>
	<ul class="NavMenu" style="text-align: center;">
		<li><b><a href="{{ path('ComppiDescriptionBundle_help') }}/input_ppi">Input Protein-Protein Interaction Databases</a></b></li>
		<li><b><a href="{{ path('ComppiDescriptionBundle_help') }}/input_loc">Input Subcellular Localization Databases</a></b></li>
	</ul></p>

	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
{% endblock %}
