{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Output Formats{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Output Formats</li></ul></h1>
        
        <br/>
	<p>ComPPI offers download options on the <!--<a href="http://comppi.linkgroup.hu/protein_search">Protein Search</a> and the--> <a href="http://comppi.linkgroup.hu/downloads">Downloads</a> page<!--s-->.
        
        <!--<h2>Protein search</h2>
        
        <p>The export of the protein search results is available in <b>Tab-limited Text format</b>.
        The downloaded file is appropiate for further manipulation in Excel as well.
        More details about the <i>Protein Search</i> page <a href="{{ path('ComppiDescriptionBundle_help') }}/protein_search">here</a>.</p>-->
        
        <h2>Downloads</h2>
           
        <p>The <i>Downloads</i> page contains three kind of prepared datasets:
        <ul>
            <li><a href="{{ path('ComppiDescriptionBundle_help') }}/downloads#comp">Compartmentalized interactome</a></li>
            <li><a href="{{ path('ComppiDescriptionBundle_help') }}/downloads#ppi">Integrated protein-protein interaction dataset</a></li>
            <li><a href="{{ path('ComppiDescriptionBundle_help') }}/downloads#loc">Integrated subcellular localization dataset</a></li>
        </ul>
        The output format of the datasets is <b>Tab-limited Text format</b>.
        The downloaded file is appropiate for further manipulation in Excel as well. 
        More details about the <i>Downloads</i> page <a href="{{ path('ComppiDescriptionBundle_help') }}/downloads">here</a>.</p> 
        
        <p align="justify">
        The full database of the current and previous releases is available on the <a href="{{ path('DownloadCenterBundle_downloads') }}">Downloads</a> page in <b>SQL</b> format.
        <br/><b>Note</b> that in the downloadable full database the nodes are identified by ComPPI IDs.
        These IDs are not stable, they may change in every release.
	If you use ComPPI to build a network, you may want to consider using the protein names as node IDs,
	otherwise networks of different ComPPI versions may not be compatible with each other.</p>
        </p>
        
        <p>The downloaded files are compressed using the <a href="http://www.gzip.org/">Gzip</a> package to improve the speed of the downloads.</p>
           

	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
{% endblock %}
