{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Protein Search{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Search</li></ul></h1>
	
        <h2>Summary of the <a href="{{ path('ComppiProteinSearchBundle_proteinsearch') }}">Search</a> page</h2>
        
        <p align="justify">The purpose of <a href="{{ path('ComppiProteinSearchBundle_proteinsearch') }}">Search</a> is to explore the interactors of the query protein with all their localization data.
        The search can be <b>Basic Search</b>, <b>Advanced Search</b> or <b>Direct Protein ID Search</b>.
        <!--The search can be basic <b>Search</b> or <b>Direct Protein ID Search</b>.-->
        We will list the details of these three options below.</p>

        <p align="justify"><!--<b>Search</b>--><b>Basic Search</b> starts with a form to specify the name of the query protein.
        The search term can be the full ID or even a fragment of the name of the protein.
        A list of suggested names pops up after typing at least 3 characters.
        <!--The user may set the filtration of the query protein for the available species.--></p>

        <!---->
        <p align="justify">Using the <b>Advanced Search</b> option the user may set the filtration of the query protein for the available species and subcellular localizations.
        Localization probability can be set numerically or by moving the slider. The advanced parameters apply only to the query protein, and not to its interactors. Once the Advanced Search is executed, that (those) version(s) of the query protein will appear on the screen, which fulfill(s) the parameters of the Advanced Search query. The search is permissive and not restrictive, therefore, in the final interaction page of the query protein you may see other localizations or lower localization probabilities than the customized parameters.</p> 

        <p align="justify">If a single protein was found, the page of interactors is shown immediately.
        If there are multiple search results for a given protein name (or fragment), an intermediate page displays the available options.
        The final interaction page displays the <a href="#intA">properties of the query protein</a> and the <a href="#int">interactions</a> as well.
        All interactions contain information about the <a href="#intB">properties of the interacting partners</a> and the interaction score of a certain interaction.</p>

        <p align="justify">A <b>Direct Protein ID Search</b> option is also available using the following URL format:
        http://comppi.linkgroup.hu/protein_search/{protein ID, such as the requested UniProtKB accesison}.
        Try this example to explore the interactions of the Polyductin protein: <a href="http://comppi.linkgroup.hu/protein_search/P08F94">http://comppi.linkgroup.hu/protein_search/P08F94</a></p>
        
        <p>Visit our <a href="{{ path('ComppiDescriptionBundle_help') }}/tutorial">Tutorial</a> to learn more about how to use the <b>Search</b> page or
        move your mouse over any of the <b>Search</b> form elements to display a location-sensitive tooltip.</p>
        
        <!-- <p align="justify">To learn more about how to use our Protein Search page check out our <a href="{{ path('ComppiDescriptionBundle_help') }}/tutorial#protsearch">Tutorial</a>!</p> -->
        
        <a name="intA"></a>
		<h2>Properties of the query protein</h2>
        
        <p align="justify">On the top of the result page the following properties are listed regarding the query protein:
        <ol>
            <li>the <b>Full Name</b> of the protein from the UniProt database and link to the <b>UniProt Profile</b></li>
            <li>the <b>Number of Interactions</b> gives the number of the existing interactions for the given protein</li>
            <li>the <b>Average Interaction Score</b> gives the average of all the interactions for the given protein</li>
            <li>the <b>Localizations</b> table contains the following properties for the subcellular localization of the protein:
            <ul>
                <li>the list of <b>Major Localizations</b>: every entry is in a new row</li>
                <li>the list of <b>Minor Localizations</b>: if the name of the minor localization was the same like the name of the major localization, then there is no detailed localization information available</li>
                <li>the <b>Localization Score</b> contains the calculated score for the given major localization.  Learn more about the Localization Score <a href="{{ path('ComppiDescriptionBundle_help') }}/scores">here</a>.</li>
                <li>the <b>Experiment Type</b> column contains the system type of the localization data: experimental, predicted or unknown with more detailed name if it was available</li>
                <li>the <b>Source Database</b> list contains the source of the entry</li>
                <li>the <b>PubMed</b> column contains the PubMed ID of the entry, usually the related publication of the source database</li>
            </ul>
            Experimental localizations are highlighted.</li>
            <li>the <b>Synonyms</b> of the query protein contain all the protein names stored in the ComPPI database</li>
        </ol></p>
        
               
        <a name="int"></a>
		<h2>Properties of the interactions</h2>
        
        <p align="justify">On the result page the interactions are listed after the box including the properties of the query protein. The following properties are included:
        <ol>
            <li>the <b>Interaction Score</b> is available for all the interactions, where both interactors have at least one major localization.
            If there was no localization info, then the Interaction Score is 0.
            See more about the Interaction Score <a href="{{ path('ComppiDescriptionBundle_help') }}/scores">here</a>.</li>
            <li>the <b>UniProt accession</b> and the <b>Full Name</b> of the interactor protein</li>
            <li>the <b>ComPPI Interactors</b> link navigates directly to the interactions of the certain interactor protein</li>
            <li>the <b>UniProtKB Profile</b> is directly available for the interactors</li>
            <li>the <b>Details</b> show the <a href="#intB">properties of the interactor protein</a> after clicking</li>
        </ol>
        </p>
        
        <a name="intB"></a>
		<h2>Properties of the interacting partners</h2>
        
        <p align="justify">The structure of the properties of the interacting partner is the following:
        <ol>
            <li>the <b>Full Name</b> of the protein from the UniProt database and link to the <b>UniProt Profile</b></li>
            <li>the <b>ComPPI Interactors</b> link navigates directly to the interactions of the certain interactor protein</li>
            <li>the <b>UniProtKB Profile</b> for the interactors is directly available</li>
            <li>the <b>Localizations</b> table contains the following properties for the subcellular localization of the selected protein:
            <ul>
                <li>the list of <b>Major Localizations</b>: every entry is in a new row</li>
                <li>the list of <b>Minor Localizations</b>: if the name of the minor localization was the same like the name of the major localization, then there is no detailed localization information available</li>
                <li>the <b>Localization Score</b> contains the calculated score for the given major localization.  See more about the Localization Score <a href="{{ path('ComppiDescriptionBundle_help') }}/scores">here</a>.</li>
                <li>the <b>Experiment Type</b> column contains the system type of the localization data: experimental, predicted, or unknown with more detailed name if it was available</li>
                <li>the <b>Source Database</b> list contains the source of the entry</li>
                <li>the <b>PubMed</b> column contains the PubMed ID of the entry, usually the related publication of the source database</li>
            </ul>
            Experimental localizations are highlighted.</li>
            <li>the <b>Synonyms</b> of the query protein contain all the protein names stored in the ComPPI database</li>

        </ol></p>

	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
{% endblock %}
