{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Localization and Interaction Scores{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Localization and Interaction Scores</li></ul></h1>
      
	<h2>Summary of the ComPPI scoring system</h2>
	
	<p align="justify">The ComPPI scoring system is designed as a subcellular localization-based measure to score the reliablity of the interaction between two proteins.
	In the first step the <a href="#locscore">Localization Score</a> is calculated for all proteins that have at least one major localization.
	The Localization Score calculation is based on the <a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs#origin">subcellular localization evidence types</a>
        for all major localizations where the given protein can be found.
	This approach ensures that both a) the quality of the localization (experimental, predicted, or unknown),
	and b) the quantity of the data (the number of sources from the integrated dataset) are considered.
	In the second step the previously calculated Localization Score of the interactors is used to <a href="#intscore">score the interaction</a>
         in a compartment-dependent manner.</p>
	
	<p align="justify">In summary, the ComPPI <b>Localization Score</b> gives the probability of a given <b>protein</b> to be found in a certain major localization, while the <b>Interaction Score</b> is a measure for the <b>interaction</b> between the interactors based on the Localization Score.</p>
	
	<p align="justify"><b>Note</b> that the Interaction Score is <b>0</b> if there were no localization data for one or both of the interactors.</p>
	
	<h2>Detailed description of the ComPPI scoring system</h2>
	<ol>
		<li><a href="#basics">Basics of the ComPPI scoring system</a></li>
		<li><a href="#locscore">Localization Score</a></li>
		<li><a href="#intscore">Interaction Score</a></li>
		<li><a href="#scoreopt">Subcellular localization evidence type weight optimization</a></li>
		<!--<li><a href="#locdist">Distribution of the Localization Score</a></li>-->
		<!--<li><a href="#intdist">Distribution of the Interaction Score</a></li>-->
	</ol>
	<br/>
        
    <br /><a name="basics"></a>
	<h3>1. Basics of the ComPPI scoring system</h3>
	<p align="justify">We assumed that the different localization entries are independent, thus the following two basic operations have been used:
	<ul>
		<li>AND (⊕) [standard multiplication, a⊕b=a*b]</li>
		<li>OR (Ⓥ) [aⓋb = 1-(1-a)*(1-b)]</li>
	</ul>
	The ComPPI scoring system works with the major localizations of the proteins as it is described <a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs">here</a>.
	The Localization and Interaction Scores are calculated with a PHP script, the scores are stored in an SQL-based database.</p></p>


	<br /><a name="locscore"></a>
	<h3>2. Localization Score</h3>	
	<p align="justify"><a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs#origin">Subcellular localization</a>
	data contains diverse evidence types, therefore the evidence type weights were <a href="#scoreopt">optimized</a> as: 
		<ul>
			<li>p=0.7 experimentally verified</li>
			<li>p=0.5 unknown interaction type</li>
			<li>p=0.5 predicted evidence</li>
		</ul>
	</p>
	
	<p align="justify">The Localization Score gives the probability of a given protein to be found in a certain compartment.
	A Localization Score was computed for all 6 compartments for each protein with at least one major localization using probabilistic disjunction (marked with operator V) among the different localization evidence types and the number of ComPPI localization data entries of the respective evidence type (since every entry is an additional evidence):
	
	<br /><img src="http://www.linkgroup.hu/pic/score_1.png" alt="loc_score" height="50" style="margin-top: 20px;" /> (Eq. 1)
	
	<br /><br />Where <i>φ<sub>LocX</sub></i> and <i>p<sub>LocX</sub></i> are the Localization Score and the localization evidence type (experimental, unknown or predicted) for protein X and localization Loc, respectively, while <i>res</i> is the number of available ComPPI localization data entries for protein X.
	</p>
        
	
	<br /><a name="intscore"></a>
	<h3>3. Interaction Score</h3>
	<p align="justify">As the first step of Interaction Score calculation, compartment-specific Interaction Scores are obtained by multiplying the Localization Scores of the two interactors for each of the 6 major compartments. Finally, the Interaction Score is calculated as the probabilistic disjunction (marked with operator V)  of the Compartment-specific Interaction Scores of all major localizations available for the interacting pair from the maximal number of 6 major localizations (Eq. 2, see bottom panel of Figure 2 for details).

	<br /><img src="http://www.linkgroup.hu/pic/score_2.png" alt="matching_loc" height="43" style="margin-top: 20px;" /> (Eq. 2)
	
	<br /><br />Where <i>φ<sub>Int</sub></i> is the Interaction Score, while <i>φ<sub>LocA</sub></i> and <i>φ<sub>LocB</sub></i> are the Compartment-specific Localization Scores of interacting proteins A and B, respectively.</p>
	
	<!-- <p align="justify">Applying OR to all the 6 locations yields <img src="http://www.linkgroup.hu/pic/score_5.png" alt="p_loc" height="30" width="30" /> (because it does not matter in which location do the two proteins connect).

	<br /><img src="http://www.linkgroup.hu/pic/score_3.png" alt="loc_sum" height="123" width="212" /></p> -->
	
       
	<br /><a name="scoreopt"></a>
        <h3>4. Subcellular localization evidence type weight optimization</h3>
        
        <p align="justify">Localization <a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs#expsystype">evidence type</a> can be experimental, unknown or predicted.
        Each of these is described by a parameter called the evidence type weight, and the ratio of these weights to each other has to be determined to achieve a unified scoring system applicable to the diverse data sources.
        We performed therefore data-driven optimization of the localization evidence type weights.
        Based on the fact that experimentally validated entries are the most reliable, while localization entries coming from unknown or predicted origin are less reliable,
	we set the following order of evidence type weights: experimental > predicted AND experimental > unknown as the two requirements of the optimization process. 
        We chose the <a href="http://www.proteinatlas.org/">Human Protein Atlas (HPA)</a> database containing only experimentally verified subcellular localizations in order to build a positive
        control dataset, where the interactros have at least one common localization according to HPA.</p>
        
        <p align="justify">Our goal was to find a specific ratio of the experimental, unknown and predicted evidence type weight parameters that maximizes the number of high confidence interactions
        in the positive control dataset (HPA) and simultaneously maximizes the number of low confidence interactions in the ComPPI dataset not containing HPA data.
        These ensure that the quality of data marked as high confidence will match the quality of experimentally verified data.
        All combinations of the experimental, unknown and predicted evidence type weights were set up from 0 to 1 with 0.1 increments.
        The <a href="http://en.wikipedia.org/wiki/Kernel_density_estimation">kernel density</a> of the interactions were calculated with all these settings, which gave us the ratio of interactions belonging to a given confidence level compared to the distribution of all the interactions. Lastly, the 167 possible kernel density solutions were tested (see all possible solutions on the video below) to find the parameter combination that maximizes the number of both the low and high confidence interactions as described above.</p>
        
        <p align="justify">This resulted in 0.7, 0.5, and 0.5 as the relative evidence type weights for experimental, unknown and predicted data types, respectively. </p>
        
        <iframe width="420" height="315" src="//www.youtube.com/embed/kekB0_YU494" frameborder="0" allowfullscreen></iframe>
		
		<img src="http://www.linkgroup.hu/pic/score_optimum.jpg" height="315" alt="The kernel density distribution with evidence type weight parameters experimental: 0.7, unknown: 0.5, predicted: 0.5." />
        
	<!--
	<p></p>
        
	<br /><a name="locdist"></a>
	<h3>4. Distribution of the localization score</h3>
	 
	<p></p>
	 
	<br /><a name="intdist"></a>
	<h3>5. Distribution of the interaction score</h3>
	
	<p></p>
-->

	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
{% endblock %}
