{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Statistics{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Statistics</li></ul></h1>

	<p align="justify">On the <b>Statistics</b> page you can find more information about the properties of the ComPPI dataset.
        The <a href="#summary">Statistics Summary</a> describes the summarized number of proteins, interactions and localizations, and the average localization and interaction scores for all species.
        The <a href="#detailed">Detailed Statistics</a> describes the number of proteins, interactions and localizations, and the average localization and interaction scores for the certain localizations of the choosen species.</p>
        
	<p align="justify">Learn more about the <a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs">subcellular localization data</a>.</p>
	
	<p align="justify">Find out more about the <a href="{{ path('ComppiDescriptionBundle_help') }}/scores">ComPPI scoring system</a><!--
        and the distribution of the <a href="{{ path('ComppiDescriptionBundle_help') }}/scores#locdist">localization</a>
        and the <a href="{{ path('ComppiDescriptionBundle_help') }}/scores#intdist">interaction score</a>-->.</p>
	
	<a name="summary"></a>
	<h2>Statistics Summary</h2>
	
	<table id="Summary_Statistics" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><b>Compartmentalization of proteins and interactions</b></td>
				<td><b>43 212</b></td>
				<td><b>87 434</b></td>
				<td><b>0.76</b></td>
				<td><b>535 432</b></td>
				<td><b>0.76</b></td>
			</tr>
			<tr>
				<td><b>Interaction Data</b></td>
				<td><b>55 849</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
				<td><b>828 308</b></td>
				<td><b>0.49</b></td>
			</tr>
			<tr>
				<td><b>Localization data</b></td>
				<td><b>120 386</b></td>
				<td><b>197 043</b></td>
				<td><b>0.73</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
			</tr>
		</tbody>
	</table>
	
	<a name="detailed"></a>
	<h2>Detailed Statistics</h2>
	
	<p>Available species:</p>
	<ol>
		<li><a href="#human"><i>Homo sapiens</i> (Human)</a></li>
		<li><a href="#drosi"><i>Drosophila melanogaster</i> (Fruit fly)</a></li>
		<li><a href="#worm"><i>Caenorhabditis elegans</i></a></li>
		<li><a href="#yeast"><i>Saccharomyces cerevisiae</i> (Baker's yeast)</a></li>
	</ol>
	
	<a name="human"></a>
	<h2>1. <i>Homo sapiens (Human)</i></h2>
	<table id="Statistics_HS_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>19 730</b></td>
                                <td><b>48 263</b></td>
                                <td><b>0.82</b></td>
                                <td><b>278 407</b></td>
                                <td><b>0.88</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>12 984</td>
                                <td>35 801</td>
                                <td>0.82</td>
                                <td>19 848</td>
                                <td>0.91</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1960</td>
                                <td>6247</td>
                                <td>0.81</td>
                                <td>9723</td>
                                <td>0.92</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>10 995</td>
                                <td>27 829</td>
                                <td>0.83</td>
                                <td>168 749</td>
                                <td>0.93</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>5856</td>
                                <td>20 985</td>
                                <td>0.83</td>
                                <td>29 762</td>
                                <td>0.96</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>5144</td>
                                <td>18 358</td>
                                <td>0.81</td>
                                <td>27 793</td>
                                <td>0.93</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>8480</td>
                                <td>27 927</td>
                                <td>0.82</td>
                                <td>58 406</td>
                                <td>0.91</td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_HS_int" class="fancy_table hovered_list striped_table">
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>25 896</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>421 746</b></td>
                        <td><b>0.58</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_HS_loc" class="fancy_table hovered_list striped_table">        
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>72 175</b></td>
                                <td><b>124 381</b></td>
                                <td><b>0.76</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>34 087</td>
                                <td>72 472</td>
                                <td>0.77</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>7594</td>
                                <td>17 592</td>
                                <td>0.75</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>30 228</td>
                                <td>58 317</td>
                                <td>0.79</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>11 738</td>
                                <td>35 812</td>
                                <td>0.80</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>13 547</td>
                                <td>36 590</td>
                                <td>0.77</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>27 187</td>
                                <td>61 334</td>
                                <td>0.76</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                </tbody>
	</table>
	
	<a name="drosi"></a>
	<h2>2. <i>Drosophila melanogaster</i> (Fruit fly)</h2>
	<table id="Statistics_DM_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
                <tbody>
                    <tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>13 358</b></td>
                                <td><b>21 015</b></td>
                                <td><b>0.59</b></td>
                                <td><b>137 450</b></td>
                                <td><b>0.46</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>7054</td>
                                <td>12 748</td>
                                <td>0.62</td>
                                <td>81 519</td>
                                <td>0.50</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>914</td>
                                <td>1811</td>
                                <td>0.61</td>
                                <td>3739</td>
                                <td>0.53</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>5512</td>
                                <td>9247</td>
                                <td>0.61</td>
                                <td>48 330</td>
                                <td>0.51</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>739</td>
                                <td>1772</td>
                                <td>0.61</td>
                                <td>1493</td>
                                <td>0.69</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>2283</td>
                                <td>4756</td>
                                <td>0.58</td>
                                <td>10 618</td>
                                <td>0.44</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>2964</td>
                                <td>5761</td>
                                <td>0.64</td>
                                <td>15 833</td>
                                <td>0.49</td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_DM_int" class="fancy_table hovered_list striped_table">        
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>17 415</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>251 591</b></td>
                        <td><b>0.25</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_DM_loc" class="fancy_table hovered_list striped_table">        
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>21 667</b></td>
                                <td><b>31 937</b></td>
                                <td><b>0.55</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>9210</td>
                                <td>16 294</td>
                                <td>0.60</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1910</td>
                                <td>3606</td>
                                <td>0.57</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>7349</td>
                                <td>12 098</td>
                                <td>0.58</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>2181</td>
                                <td>4724</td>
                                <td>0.58</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>4927</td>
                                <td>9383</td>
                                <td>0.54</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>6360</td>
                                <td>10 630</td>
                                <td>0.60</td>
                                <td>-</td>
                                <td>-</td
                        </tr>
                </tbody>
	</table>
	
	<a name="worm"></a>
	<h2>3. <i>Caenorhabditis elegans</i></h2>
	<table id="Statistics_CE_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
                <tbody>
                    <tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>4221</b></td>
                                <td><b>7369</b></td>
                                <td><b>0.77</b></td>
                                <td><b>12 233</b></td>
                                <td><b>0.68</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>2369</td>
                                <td>4664</td>
                                <td>0.77</td>
                                <td>6039</td>
                                <td>0.73</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>181</td>
                                <td>416</td>
                                <td>0.75</td>
                                <td>156</td>
                                <td>0.71</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>1995</td>
                                <td>3685</td>
                                <td>0.77</td>
                                <td>5849</td>
                                <td>0.71</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>68</td>
                                <td>151</td>
                                <td>0.73</td>
                                <td>80</td>
                                <td>0.47</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>809</td>
                                <td>1752</td>
                                <td>0.75</td>
                                <td>1189</td>
                                <td>0.70</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>629</td>
                                <td>1295</td>
                                <td>0.79</td>
                                <td>1269</td>
                                <td>0.70</td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_CE_int" class="fancy_table hovered_list striped_table">        
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>6298</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>23 772</b></td>
                        <td><b>0.35</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_CE_loc" class="fancy_table hovered_list striped_table">        
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>20 051</b></td>
                                <td><b>29 289</b></td>
                                <td><b>0.73</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>7715</td>
                                <td>13 892</td>
                                <td>0.74</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1780</td>
                                <td>3521</td>
                                <td>0.72</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>6246</td>
                                <td>10 927</td>
                                <td>0.74</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>1662</td>
                                <td>3325</td>
                                <td>0.70</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>4693</td>
                                <td>8899</td>
                                <td>0.72</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>7193</td>
                                <td>10 583</td>
                                <td>0.72</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                </tbody>
	</table>
   
	<a name="yeast"></a>
	<h2>4. <i>Saccharomyces cerevisiae</i> (Baker's yeast)</h2>
	<table id="Statistics_SC_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
                <tbody>
                    <tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>5903</b></td>
                                <td><b>10 787</b></td>
                                <td><b>0.82</b></td>
                                <td><b>107 551</b></td>
                                <td><b>0.84</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>3374</td>
                                <td>7106</td>
                                <td>0.81</td>
                                <td>69 698</td>
                                <td>0.85</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1407</td>
                                <td>2969</td>
                                <td>0.78</td>
                                <td>10 668</td>
                                <td>0.81</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>2826</td>
                                <td>5561</td>
                                <td>0.81</td>
                                <td>51 112</td>
                                <td>0.89</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>147</td>
                                <td>388</td>
                                <td>0.78</td>
                                <td>230</td>
                                <td>0.83</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>891</td>
                                <td>2264</td>
                                <td>0.83</td>
                                <td>4560</td>
                                <td>0.91</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>1882</td>
                                <td>4083</td>
                                <td>0.83</td>
                                <td>11 978</td>
                                <td>0.87</td
                        </tr
                </tbody>
        </table>
        <table id="Statistics_SC_int" class="fancy_table hovered_list striped_table">        
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>6240</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>131 199</b></td>
                        <td><b>0.69</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_SC_loc" class="fancy_table hovered_list striped_table">
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>6493</b></td>
                                <td><b>11 436</b></td>
                                <td><b>0.81</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytosol</i></td>
                                <td>3467</td>
                                <td>7221</td>
                                <td>0.81</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1513</td>
                                <td>3124</td>
                                <td>0.76</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>2933</td>
                                <td>5988</td>
                                <td>0.81</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>282</td>
                                <td>762</td>
                                <td>0.76</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>999</td>
                                <td>2477</td>
                                <td>0.81</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>2242</td>
                                <td>4568</td>
                                <td>0.82</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                </tbody>
	</table>
        
	<br /><br />
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
        
{% endblock %}
