{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Statistics{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Statistics</li></ul></h1>

	<p align="justify">On the <b>Statistics</b> page you can find more information about the properties of the ComPPI dataset.
        The <a href="#summary">Statistics Summary</a> describes the summarized number of proteins, interactions and localizations, and the average localization and interaction score for all species.
        The <a href="#detailed">Detailed Statistics</a> describes the number of proteins, interactions and localizations, and the average localization and interaction score for the certain localizations of the choosen species.</p>
        
	<p align="justify">To find out more about the subcellular localization data click <a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs">here</a>.</p>
	
	<p align="justify">To find out more about the ComPPI scoring system and the distribution of the localization and the interaction score click <a href="{{ path('ComppiDescriptionBundle_help') }}/scores">here</a>.</p>
	
	<a name="summary"></a>
	<h2>Statistics Summary</h2>
	
	<table id="Summary_Statistics" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><b>Compartmentalization of proteins and interactions</b></td>
				<td><b>43 835</b></td>
				<td><b>95 980</b></td>
				<td><b>74%</b></td>
				<td><b>555 628</b></td>
				<td><b>73%</b></td>
			</tr>
			<tr>
				<td><b>Interaction Data</b></td>
				<td><b>47 352</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
				<td><b>678 352</b></td>
				<td><b>64%</b></td>
			</tr>
			<tr>
				<td><b>Localization data</b></td>
				<td><b>120 898</b></td>
				<td><b>214 526</b></td>
				<td><b>70%</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
			</tr>
		</tbody>
	</table>
	
	<a name="detailed"><h2>Detailed Statistics</h2></a>
	
	<p>Available species:</p>
	<ol>
		<li><a href="#human"><i>Homo sapiens</i> (Human)</a></li>
		<li><a href="#drosi"><i>Drosophila melanogaster</i> (Fruit fly)</a></li>
		<li><a href="#worm"><i>Caenorhabditis elegans</i></a></li>
		<li><a href="#yeast"><i>Saccharomyces cerevisiae</i> (Baker's yeast)</a></li>
	</ol>
	
	<a name="human"></a>
	<h2>1. <i>Homo sapiens (Human)</i></h2>
	<table id="Statistics_HS" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><b>Compartmentalization of proteins and interactions</b>
				<ul>
					<li><b><i>All Localizations</i></b></li>
					<li><i>Cytoplasm</i></li>
					<li><i>Mitochondrion</i></li>
					<li><i>Nucleus</i></li>
					<li><i>Extracellular</i></li>
					<li><i>Secretory Pathway</i></li>
					<li><i>Membrane</i></li>
				</ul>
				</td>
				<td><br/>
				<ul>
					<li><b>19 939</b></li>
					<li>13 959</li>
					<li>2265</li>
					<li>11 422</li>
					<li>5918</li>
					<li>6115</li>
					<li>8535</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>51 855</b></li>
					<li>40 100</li>
					<li>7555</li>
					<li>30 268</li>
					<li>22 689</li>
					<li>22 330</li>
					<li>30 381</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>81%</b></li>
					<li>80%</li>
					<li>80%</li>
					<li>80%</li>
					<li>84%</li>
					<li>81%</li>
					<li>82%</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>285 552</b></li>
					<li>209 363</li>
					<li>11 282</li>
					<li>175 492</li>
					<li>30 456</li>
					<li>33 515</li>
					<li>59 636</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>85%</b></li>
					<li>88%</li>
					<li>89%</li>
					<li>90%</li>
					<li>96%</li>
					<li>93%</li>
					<li>93%</li>
				</ul>
				</td>
			</tr>
			<tr>
				<td><b>Interaction Data</b></td>
				<td><b>20 340</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
				<td><b>307 742</b></td>
				<td><b>79%</b></td>
			</tr>
			<tr>
				<td><b>Localization Data</b>
				<ul>
					<li><b><i>All Localizations</i></b></li>
					<li><i>Cytoplasm</i></li>
					<li><i>Mitochondrion</i></li>
					<li><i>Nucleus</i></li>
					<li><i>Extracellular</i></li>
					<li><i>Secretory Pathway</i></li>
					<li><i>Membrane</i></li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>72 185</b></li>
					<li>36 499</li>
					<li>9635</li>
					<li>31 188</li>
					<li>11 738</li>
					<li>17 717</li>
					<li>21 187</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>133 963</b></li>
					<li>81 178</li>
					<li>23 729</li>
					<li>62 384</li>
					<li>38 679</li>
					<li>48 447</li>
					<li>69 789</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>71%</b></li>
					<li>74%</li>
					<li>69%</li>
					<li>75%</li>
					<li>80%</li>
					<li>71%</li>
					<li>72%</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>-</b></li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>-</b></li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
				</ul>
				</td>
			</tr>
			</tr>
		</tbody>
	</table>
	
	<a name="drosi"></a>
	<h2>2. <i>Drosophila melanogaster</i> (Fruit fly)</h2>
	<table id="Statistics_DM" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><b>Compartmentalization of proteins and interactions</b>
				<ul>
					<li><b><i>All Localizations</i></b></li>
					<li><i>Cytoplasm</i></li>
					<li><i>Mitochondrion</i></li>
					<li><i>Nucleus</i></li>
					<li><i>Extracellular</i></li>
					<li><i>Secretory Pathway</i></li>
					<li><i>Membrane</i></li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>13 362</b></li>
					<li>7057</li>
					<li>914</li>
					<li>5515</li>
					<li>740</li>
					<li>2284</li>
					<li>2964</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>21 818</b></li>
					<li>13 184</li>
					<li>1853</li>
					<li>9574</li>
					<li>1827</li>
					<li>4882</li>
					<li>5891</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>76%</b></li>
					<li>76%</li>
					<li>77%</li>
					<li>76%</li>
					<li>73%</li>
					<li>74%</li>
					<li>77%</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>137 735</b></li>
					<li>81 671</li>
					<li>3742</li>
					<li>48 430</li>
					<li>1497</li>
					<li>10 650</li>
					<li>15 870</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>68%</b></li>
					<li>70%</li>
					<li>73%</li>
					<li>72%</li>
					<li>73%</li>
					<li>66%</li>
					<li>73%</li>
				</ul>
				</td>
			</tr>
			<tr>
				<td><b>Interaction Data</b></td>
				<td><b>15 531</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
				<td><b>221 653</b></td>
				<td><b>42%</b></td>
			</tr>
			<tr>
				<td><b>Localization Data</b>
				<ul>
					<li><b><i>All Localizations</i></b></li>
					<li><i>Cytoplasm</i></li>
					<li><i>Mitochondrion</i></li>
					<li><i>Nucleus</i></li>
					<li><i>Extracellular</i></li>
					<li><i>Secretory Pathway</i></li>
					<li><i>Membrane</i></li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>22 088</b></li>
					<li>9210</li>
					<li>1910</li>
					<li>7349</li>
					<li>2181</li>
					<li>4927</li>
					<li>6360</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>31 936</b></li>
					<li>16 294</li>
					<li>3606</li>
					<li>12 098</li>
					<li>4724</li>
					<li>9383</li>
					<li>10 630</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>74%</b></li>
					<li>75%</li>
					<li>75%</li>
					<li>75%</li>
					<li>72%</li>
					<li>66%</li>
					<li>66%</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>-</b></li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>-</b></li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
				</ul>
				</td>
			</tr>
			</tr>
		</tbody>
	</table>
	
	<a name="worm"></a>
	<h2>3. <i>Caenorhabditis elegans</i></h2>
	<table id="Statistics_CE" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><b>Compartmentalization of proteins and interactions</b>
				<ul>
					<li><b><i>All Localizations</i></b></li>
					<li><i>Cytoplasm</i></li>
					<li><i>Mitochondrion</i></li>
					<li><i>Nucleus</i></li>
					<li><i>Extracellular</i></li>
					<li><i>Secretory Pathway</i></li>
					<li><i>Membrane</i></li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>4481</b></li>
					<li>2609</li>
					<li>224</li>
					<li>2223</li>
					<li>68</li>
					<li>1032</li>
					<li>629</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>8502</b></li>
					<li>5418</li>
					<li>396</li>
					<li>4474</li>
					<li>162</li>
					<li>2263</li>
					<li>1541</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>68%</b></li>
					<li>69%</li>
					<li>67%</li>
					<li>68%</li>
					<li>64%</li>
					<li>66%</li>
					<li>68%</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>12 899</b></li>
					<li>6584</li>
					<li>198</li>
					<li>6274</li>
					<li>80</li>
					<li>1560</li>
					<li>1269</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>61%</b></li>
					<li>65%</li>
					<li>61%</li>
					<li>67%</li>
					<li>51%</li>
					<li>59%</li>
					<li>62%</li>
				</ul>
				</td>
			</tr>
			<tr>
				<td><b>Interaction Data</b></td>
				<td><b>5259</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
				<td><b>17 822</b></td>
				<td><b>44%</b></td>
			</tr>
			<tr>
				<td><b>Localization Data</b>
				<ul>
					<li><b><i>All Localizations</i></b></li>
					<li><i>Cytoplasm</i></li>
					<li><i>Mitochondrion</i></li>
					<li><i>Nucleus</i></li>
					<li><i>Extracellular</i></li>
					<li><i>Secretory Pathway</i></li>
					<li><i>Membrane</i></li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>20 072</b></li>
					<li>9568</li>
					<li>2293</li>
					<li>7674</li>
					<li>1662</li>
					<li>6222</li>
					<li>7193</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>34 612</b></li>
					<li>18 533</li>
					<li>5039</li>
					<li>14 744</li>
					<li>3719</li>
					<li>12 827</li>
					<li>15 423</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>61%</b></li>
					<li>63%</li>
					<li>60%</li>
					<li>62%</li>
					<li>60%</li>
					<li>60%</li>
					<li>55%</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>-</b></li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>-</b></li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
				</ul>
				</td>
			</tr>
			</tr>
		</tbody>
	</table>
   
	<a name="yeast"></a>
	<h2>4. <i>Saccharomyces cerevisiae</i> (Baker's yeast)</h2>
	<table id="Statistics_SC" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><b>Compartmentalization of proteins and interactions</b>
				<ul>
					<li><b><i>All Localizations</i></b></li>
					<li><i>Cytoplasm</i></li>
					<li><i>Mitochondrion</i></li>
					<li><i>Nucleus</i></li>
					<li><i>Extracellular</i></li>
					<li><i>Secretory Pathway</i></li>
					<li><i>Membrane</i></li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>6053</b></li>
					<li>4064</li>
					<li>2040</li>
					<li>3584</li>
					<li>147</li>
					<li>1088</li>
					<li>1882</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>13 805</b></li>
					<li>9749</li>
					<li>5212</li>
					<li>8513</li>
					<li>480</li>
					<li>3277</li>
					<li>5393<li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>72%</b></li>
					<li>74%</li>
					<li>70%</li>
					<li>73</li>
					<li>70%</li>
					<li>73%</li>
					<li>72%</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>119 442</b></li>
					<li>83 145</li>
					<li>18 532</li>
					<li>62 609</li>
					<li>231</li>
					<li>5805</li>
					<li>11 985</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>77%</b></li>
					<li>80%</li>
					<li>74%</li>
					<li>84%</li>
					<li>86%</li>
					<li>88%</li>
					<li>89%</li>
				</ul>
				</td>
			</tr>
			<tr>
				<td><b>Interaction Data</b></td>
				<td><b>6223</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
				<td><b>131 135</b></td>
				<td><b>71%</b></td>
			</tr>
			<tr>
				<td><b>Localization Data</b>
				<ul>
					<li><b><i>All Localizations</i></b></li>
					<li><i>Cytoplasm</i></li>
					<li><i>Mitochondrion</i></li>
					<li><i>Nucleus</i></li>
					<li><i>Extracellular</i></li>
					<li><i>Secretory Pathway</i></li>
					<li><i>Membrane</i></li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>6553</b></li>
					<li>4211</li>
					<li>2200</li>
					<li>3749</li>
					<li>282</li>
					<li>1230</li>
					<li>2242</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>13 924</b></li>
					<li>9725</li>
					<li>5389</li>
					<li>8519</li>
					<li>890</li>
					<li>3576</li>
					<li>6135</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>66%</b></li>
					<li>73%</li>
					<li>69%</li>
					<li>72%</li>
					<li>69%</li>
					<li>72%</li>
					<li>69%</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>-</b></li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
				</ul>
				</td>
				<td>
				<ul><br/>
					<li><b>-</b></li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
					<li>-</li>
				</ul>
				</td>
			</tr>
			</tr>
		</tbody>
	</table>
        
	<br /><br />
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
        
{% endblock %}
