{# src/Comppi/ProteinSearchBundle/Resources/views/about.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}ComPPI - Help/Statistics{% endblock %}

{% block bundlecontent %}
	<h1><ul class="NavMenu"><li><a href="{{ path('ComppiDescriptionBundle_help') }}">Help</a></li><li>Statistics</li></ul></h1>

	<p align="justify">On the <b>Statistics</b> page you can find more information about the properties of the ComPPI dataset.
        The <a href="#summary">Statistics Summary</a> describes the summarized number of proteins, interactions and localizations, and the average localization and interaction scores for all species.
        The <a href="#detailed">Detailed Statistics</a> describes the number of proteins, interactions and localizations, and the average localization and interaction scores for the certain localizations of the choosen species.</p>
        
	<p align="justify">Learn more about the <a href="{{ path('ComppiDescriptionBundle_help') }}/subcell_locs">subcellular localization data</a>.</p>
	
	<p align="justify">Find out more about the <a href="{{ path('ComppiDescriptionBundle_help') }}/scores">ComPPI scoring system</a><!--
        and the distribution of the <a href="{{ path('ComppiDescriptionBundle_help') }}/scores#locdist">localization</a>
        and the <a href="{{ path('ComppiDescriptionBundle_help') }}/scores#intdist">interaction score</a>-->.</p>
	
	<a name="summary"></a>
	<h2>Statistics Summary</h2>
	
	<table id="Summary_Statistics" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td><b>Compartmentalization of proteins and interactions</b></td>
				<td><b>43 828</b></td>
				<td><b>95 962</b></td>
				<td><b>72%</b></td>
				<td><b>555 093</b></td>
				<td><b>70%</b></td>
			</tr>
			<tr>
				<td><b>Interaction Data</b></td>
				<td><b>55 982</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
				<td><b>832 681</b></td>
				<td><b>49%</b></td>
			</tr>
			<tr>
				<td><b>Localization data</b></td>
				<td><b>120 404</b></td>
				<td><b>217 342</b></td>
				<td><b>68%</b></td>
				<td><b>-</b></td>
				<td><b>-</b></td>
			</tr>
		</tbody>
	</table>
	
	<a name="detailed"><h2>Detailed Statistics</h2></a>
	
	<p>Available species:</p>
	<ol>
		<li><a href="#human"><i>Homo sapiens</i> (Human)</a></li>
		<li><a href="#drosi"><i>Drosophila melanogaster</i> (Fruit fly)</a></li>
		<li><a href="#worm"><i>Caenorhabditis elegans</i></a></li>
		<li><a href="#yeast"><i>Saccharomyces cerevisiae</i> (Baker's yeast)</a></li>
	</ol>
	
	<a name="human"></a>
	<h2>1. <i>Homo sapiens (Human)</i></h2>
	<table id="Statistics_HS_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
		<tbody>
			<tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>19 939</b></td>
                                <td><b>51 855</b></td>
                                <td><b>78%</b></td>
                                <td><b>285 443</b></td>
                                <td><b>86%</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytoplasm</i></td>
                                <td>13 959</td>
                                <td>40 100</td>
                                <td>78%</td>
                                <td>209 267</td>
                                <td>89%</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>2264</td>
                                <td>7555</td>
                                <td>77%</td>
                                <td>11 270</td>
                                <td>90%</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>11 423</td>
                                <td>30 268</td>
                                <td>79%</td>
                                <td>175 453</td>
                                <td>91%</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>5918</td>
                                <td>22 689</td>
                                <td>78%</td>
                                <td>30 450</td>
                                <td>95%</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>6114</td>
                                <td>22 330</td>
                                <td>77%</td>
                                <td>33 510</td>
                                <td>93%</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>8535</td>
                                <td>30 381</td>
                                <td>77%</td>
                                <td>59 629</td>
                                <td>92%</td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_HS_int" class="fancy_table hovered_list striped_table">
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>26 029</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>426 119</b></td>
                        <td><b>58%</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_HS_loc" class="fancy_table hovered_list striped_table">        
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>72 176</b></td>
                                <td><b>134 603</b></td>
                                <td><b>71%</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytoplasm</i></td>
                                <td>36 498</td>
                                <td>81 178</td>
                                <td>73%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>9636</td>
                                <td>23 836</td>
                                <td>69%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>31 188</td>
                                <td>62 743</td>
                                <td>75%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>11 738</td>
                                <td>38 918</td>
                                <td>74%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>17 717</td>
                                <td>48 615</td>
                                <td>70%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>21 187</td>
                                <td>70 052</td>
                                <td>70%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                </tbody>
	</table>
	
	<a name="drosi"></a>
	<h2>2. <i>Drosophila melanogaster</i> (Fruit fly)</h2>
	<table id="Statistics_DM_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
                <tbody>
                    <tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>13 358</b></td>
                                <td><b>21 807</b></td>
                                <td><b>64%</b></td>
                                <td><b>137 450</b></td>
                                <td><b>53%</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytoplasm</i></td>
                                <td>7054</td>
                                <td>13 176</td>
                                <td>66%</td>
                                <td>81 519</td>
                                <td>56%</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>914</td>
                                <td>1853</td>
                                <td>65%</td>
                                <td>3739</td>
                                <td>58%</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>5512</td>
                                <td>9563</td>
                                <td>66%</td>
                                <td>48 330</td>
                                <td>58%</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>739</td>
                                <td>1824</td>
                                <td>62%</td>
                                <td>1493</td>
                                <td>60%</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>2283</td>
                                <td>4879</td>
                                <td>62%</td>
                                <td>10 618</td>
                                <td>51%</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>2964</td>
                                <td>5891</td>
                                <td>67%</td>
                                <td>15 833</td>
                                <td>59%</td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_DM_int" class="fancy_table hovered_list striped_table">        
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>17 415</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>251 591</b></td>
                        <td><b>29%</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_DM_loc" class="fancy_table hovered_list striped_table">        
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>21 667</b></td>
                                <td><b>33 413</b></td>
                                <td><b>62%</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytoplasm</i></td>
                                <td>9210</td>
                                <td>16 919</td>
                                <td>64%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>1910</td>
                                <td>3731</td>
                                <td>62%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>7349</td>
                                <td>12 614</td>
                                <td>64%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>2181</td>
                                <td>4873</td>
                                <td>59%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>4927</td>
                                <td>9724</td>
                                <td>59%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>6360</td>
                                <td>10 947</td>
                                <td>65%</td>
                                <td>-</td>
                                <td>-</td
                        </tr>
                </tbody>
	</table>
	
	<a name="worm"></a>
	<h2>3. <i>Caenorhabditis elegans</i></h2>
	<table id="Statistics_CE_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
                <tbody>
                    <tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>4478</b></td>
                                <td><b>8494</b></td>
                                <td><b>71%</b></td>
                                <td><b>12 895</b></td>
                                <td><b>62%</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytoplasm</i></td>
                                <td>2606</td>
                                <td>5410</td>
                                <td>72%</td>
                                <td>6579</td>
                                <td>67%</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>224</td>
                                <td>555</td>
                                <td>70%</td>
                                <td>197</td>
                                <td>70%</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>2222</td>
                                <td>4471</td>
                                <td>72%</td>
                                <td>6273</td>
                                <td>65%</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>68</td>
                                <td>162</td>
                                <td>65%</td>
                                <td>80</td>
                                <td>38%</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>1032</td>
                                <td>2363</td>
                                <td>70%</td>
                                <td>1560</td>
                                <td>68%</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>629</td>
                                <td>1541</td>
                                <td>71%</td>
                                <td>1269</td>
                                <td>64%</td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_CE_int" class="fancy_table hovered_list striped_table">        
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>6298</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>23 772</b></td>
                        <td><b>34%</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_CE_loc" class="fancy_table hovered_list striped_table">        
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>20 068</b></td>
                                <td><b>34 738</b></td>
                                <td><b>66%</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytoplasm</i></td>
                                <td>9568</td>
                                <td>18 603</td>
                                <td>68%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>2293</td>
                                <td>5059</td>
                                <td>65%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>7674</td>
                                <td>11 029</td>
                                <td>68%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>1662</td>
                                <td>3726</td>
                                <td>62%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>6222</td>
                                <td>12 870</td>
                                <td>66%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>7193</td>
                                <td>15 460</td>
                                <td>61%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                </tbody>
	</table>
   
	<a name="yeast"></a>
	<h2>4. <i>Saccharomyces cerevisiae</i> (Baker's yeast)</h2>
	<table id="Statistics_SC_comp" class="fancy_table hovered_list striped_table">
		<thead>
			<tr>
				<th>Data Type</th>
				<th>Number of Proteins</th>
				<th>Number of Localizations</th>
				<th>Average localization score</th>
				<th>Number of Interactions</th>
				<th>Average Interaction Score</th>
			</tr> 
		</thead>
                <tbody>
                    <tr>
				<td colspan="6"><b>Compartmentalization of proteins and interactions</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>6053</b></td>
                                <td><b>13 806</b></td>
                                <td><b>74%</b></td>
                                <td><b>119 305</b></td>
                                <td><b>80%</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytoplasm</i></td>
                                <td>4064</td>
                                <td>9749</td>
                                <td>75%</td>
                                <td>83 061</td>
                                <td>82%</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>2040</td>
                                <td>5212</td>
                                <td>75%</td>
                                <td>18 512</td>
                                <td>79%</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>3583</td>
                                <td>8510</td>
                                <td>75%</td>
                                <td>62 528</td>
                                <td>85%</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>147</td>
                                <td>480</td>
                                <td>68%</td>
                                <td>230</td>
                                <td>84%</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>1088</td>
                                <td>3277</td>
                                <td>74%</td>
                                <td>5796</td>
                                <td>88%</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>1882</td>
                                <td>5393</td>
                                <td>72%</td>
                                <td>11 978</td>
                                <td>86%</td
                        </tr
                </tbody>
        </table>
        <table id="Statistics_SC_int" class="fancy_table hovered_list striped_table">        
                <tbody>
			<tr>
			<td><b>Interaction Data</b></td>
                        <td><b>6240</b></td>
                        <td><b>-</b></td>
                        <td><b>-</b></td>
                        <td><b>131 199</b></td>
                        <td><b>73%</b></td>
                        </tr>
                </tbody>
        </table>
        <table id="Statistics_SC_loc" class="fancy_table hovered_list striped_table">
                <tbody>
                    <tr>
				<td colspan="6"><b>Localization Data</b></td>
                        </tr>
                        <tr>
                                <td><b><i>All Localizations</i></b></td>
                                <td><b>6493</b></td>
                                <td><b>14 588</b></td>
                                <td><b>74%</b></td>
                                <td><b>-</b></td>
                                <td><b>-</b></td>
                        </tr>
                        <tr>
                                <td><i>Cytoplasm</i></td>
                                <td>4211</td>
                                <td>10 035</td>
                                <td>75%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Mitochondrion</i></td>
                                <td>2200</td>
                                <td>5570</td>
                                <td>72%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Nucleus</i></td>
                                <td>3749</td>
                                <td>8819</td>
                                <td>74%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Extracellular</i></td>
                                <td>282</td>
                                <td>927</td>
                                <td>67%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Secretory Pathway</i></td>
                                <td>1230</td>
                                <td>3645</td>
                                <td>73%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                        <tr>
                                <td><i>Membrane</i></td>
                                <td>2242</td>
                                <td>6297</td>
                                <td>71%</td>
                                <td>-</td>
                                <td>-</td>
                        </tr>
                </tbody>
	</table>
        
	<br /><br />
	<p class="backToTOC"><a href="{{ path('ComppiDescriptionBundle_help') }}">&#x21e6; Back to Help Table of Contents</a>
        <br/><a href="{{ path('ComppiDescriptionBundle_about') }}">&#x21e6; Back to Starting Page</a></p>
        
{% endblock %}
