{% extends 'StatBundle:SourceStat:container.html.twig' %}

{% block title %}Source{% endblock %}

{% block body %}

<div class="headline">
<h2>{{ specieName }}</h2><h3> - Interaction Sources</h3>
</div>

<table>
    <thead>
        <tr>
            <td>{% trans %}Database Name{% endtrans %}</td>
            <td class="tcell-numeric">{% trans %}Protein Count{% endtrans %}</td>
            <td class="tcell-numeric">{% trans %}Interaction Count{% endtrans %}</td>
        </tr> 
    </thead>
    <tbody>
{% for interaction in interactions %}
    <tr>
        <td>{{ interaction.database }}</td>
        <td class="tcell-numeric">{{ interaction.proteinCount }}</td>
        <td class="tcell-numeric">{{ interaction.interactionCount }}</td>
    </tr>    
{% else %}
<div class="message message-notice">
{% trans %}
No interaction source found
{% endtrans %}
</div>
{% endfor %}
    </tbody>
    {% if interactionTotal %}
    <tfoot>
        <tr>
            <td>{% trans %}TOTAL{% endtrans %}</td>
            <td class="tcell-numeric">{{ interactionTotal.proteinCount }}</td>
            <td class="tcell-numeric">{{ interactionTotal.interactionCount }}</td>
        </tr>
    </tfoo>
    {% endif %}
</table>

<div class="headline">
<h2>{{ specieName }}</h2><h3> - Localization Sources</h3>
</div>

<table>
    <thead>
        <tr>
            <td>{% trans %}Database Name{% endtrans %}</td>
            <td class="tcell-numeric">{% trans %}Protein Count{% endtrans %}</td>
            <td class="tcell-numeric">{% trans %}Localization Count{% endtrans %}</td>
        </tr> 
    </thead>
    <tbody>
{% for localization in localizations %}
    <tr>
        <td>{{ localization.database }}</td>
        <td class="tcell-numeric">{{ localization.proteinCount }}</td>
        <td class="tcell-numeric">{{ localization.localizationCount }}</td>
    </tr>    
{% else %}
<div class="message message-notice">
{% trans %}
No localization source found
{% endtrans %}
</div>
{% endfor %}
    </tbody>
    {% if localizationTotal %}
    <tfoot>
        <tr>
            <td>{% trans %}TOTAL{% endtrans %}</td>
            <td class="tcell-numeric">{{ localizationTotal.proteinCount }}</td>
            <td class="tcell-numeric">{{ localizationTotal.localizationCount }}</td>
        </tr>
    </tfoo>
    {% endif %}
</table>

{% endblock %}