{% extends 'StatBundle:SourceStat:container.html.twig' %}

{% block title %}Source{% endblock %}

{% block body %}

<h1>{{ specieName }}<small> - Interaction Sources</small></h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>{% trans %}Database Name{% endtrans %}</th>
            <th class="tcell-numeric">{% trans %}Protein Count{% endtrans %}</th>
            <th class="tcell-numeric">{% trans %}Interaction Count{% endtrans %}</th>
        </tr> 
    </thead>
    <tbody>
{% for interaction in interactions %}
    <tr>
        <td>{{ interaction.database }}</td>
        <td class="tcell-numeric">{{ interaction.proteinCount }}</td>
        <td class="tcell-numeric">{{ interaction.interactionCount }}</td>
    </tr>    
{% else %}
    <div class="alert alert-block">
    <h4>{% trans %}Not found{% endtrans %}</h4>
    {% trans %}
        No interaction source found
    {% endtrans %}
    </div>
{% endfor %}
    </tbody>
    {% if interactionTotal %}
    <tfoot class="text-success">
        <tr>
            <td>{% trans %}TOTAL{% endtrans %}</td>
            <td class="tcell-numeric">{{ interactionTotal.proteinCount }}</td>
            <td class="tcell-numeric">{{ interactionTotal.interactionCount }}</td>
        </tr>
    </tfoo>
    {% endif %}
</table>

<h1>{{ specieName }}<small> - Localization Sources</small></h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>{% trans %}Database Name{% endtrans %}</th>
            <th class="tcell-numeric">{% trans %}Protein Count{% endtrans %}</th>
            <th class="tcell-numeric">{% trans %}Localization Count{% endtrans %}</th>
        </tr> 
    </thead>
    <tbody>
{% for localization in localizations %}
    <tr>
        <td>{{ localization.database }}</td>
        <td class="tcell-numeric">{{ localization.proteinCount }}</td>
        <td class="tcell-numeric">{{ localization.localizationCount }}</td>
    </tr>    
{% else %}
    <div class="alert alert-block">
    <h4>{% trans %}Not found{% endtrans %}</h4>
    {% trans %}
        No localization source found
    {% endtrans %}
    </div>
{% endfor %}
    </tbody>
    {% if localizationTotal %}
    <tfoot class="text-success">
        <tr>
            <td>{% trans %}TOTAL{% endtrans %}</td>
            <td class="tcell-numeric">{{ localizationTotal.proteinCount }}</td>
            <td class="tcell-numeric">{{ localizationTotal.localizationCount }}</td>
        </tr>
    </tfoot>
    {% endif %}
</table>

{% endblock %}