{% extends 'StatBundle:LocalizationStat:container.html.twig' %}

{% block title %}Localizations{% endblock %}

{% block body %}

{% for localizations in specieLocalizationStats %}

    <h1>{{ localizations.specieName }}<small> - {% trans %}Localizations{% endtrans %}</small></h1>
    
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th class="tcell-numeric">ID</th>
                <th>{% trans %}Localization{% endtrans %}</th>
                <th>{% trans %}GO Accession{% endtrans %}</th>
                <th class="tcell-numeric">{% trans %}Protein Count{% endtrans %}</th>
            </tr> 
        </thead>
        <tbody>
    {% for localization in localizations.stat %}
            <tr>
                <td class="tcell-numeric">{{ localization.localizationId }}</td>
                <td>{{ localization.localizationName }}</td>
                <td>{{ localization.goAccession }}</td>
                <td class="tcell-numeric">{{ localization.proteinCount }}</td>
            </tr>    
    {% else %}
        <div class="alert alert-info">
        <h4>{% trans %}Not found{% endtrans %}</h4>
        {% trans %}
            No localization found
        {% endtrans %}
        </div>
    {% endfor %}
        </tbody>
    </table>

{% endfor %}

{% endblock %}