{% extends 'StatBundle:LocalizationStat:container.html.twig' %}

{% block title %}Loctree visualization{% endblock %}

{% block stylesheetAssets %}
    {{ parent() }}

    {% stylesheets
        '@StatBundle/Resources/public/css/loctree-visualization.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascriptAssets %}
    {{ parent() }}

    {% javascripts
        '@StatBundle/Resources/public/js/jit.js'
        '@StatBundle/Resources/public/js/loctree-visualization.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}

<h1>{% trans %}Loctree visualization{% endtrans %} <small id="loctree-visualization-log"></small></h1>

{% autoescape false %}
<script>
function getLocalizationTree() {
    return '{{ jsonTree }}';
}
</script>
{% endautoescape %}

<div id="loctree-visualization"></div>

{% endblock %}